body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, fieldset, form, menu, select, textarea, input, button { margin: 0; padding: 0; }

ul { list-style: none; }

a { background-color: transparent; text-decoration: none; }

a:hover { text-decoration: none; }

img, input, button { border: 0; outline: 0; }

input, textarea { border-radius: 0; outline: 0; }

input, textarea, select, button, a:active, a:hover { outline: 0; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }

input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; }

/* FONTS */
@font-face { font-family: 'Lato'; src: local("Lato Hairline"), local("Lato-Hairline"), url("../fonts/lato/../fonts/lato/latohairline.woff2") format("woff2"), url("../fonts/lato/../fonts/lato/latohairline.woff") format("woff"), url("../fonts/lato/../fonts/lato/latohairline.ttf") format("truetype"); font-weight: 100; font-style: normal; }

@font-face { font-family: 'Lato'; src: local("Lato Hairline Italic"), local("Lato-HairlineItalic"), url("../fonts/lato/../fonts/lato/latohairlineitalic.woff2") format("woff2"), url("../fonts/lato/../fonts/lato/latohairlineitalic.woff") format("woff"), url("../fonts/lato/latohairlineitalic.ttf") format("truetype"); font-weight: 100; font-style: italic; }

@font-face { font-family: 'Lato'; src: local("Lato Thin"), local("Lato-Thin"), url("../fonts/lato/latothin.woff2") format("woff2"), url("../fonts/lato/latothin.woff") format("woff"), url("../fonts/lato/latothin.ttf") format("truetype"); font-weight: 200; font-style: normal; }

@font-face { font-family: 'Lato'; src: local("Lato Thin Italic"), local("Lato-ThinItalic"), url("../fonts/lato/latothinitalic.woff2") format("woff2"), url("../fonts/lato/latothinitalic.woff") format("woff"), url("../fonts/lato/latothinitalic.ttf") format("truetype"); font-weight: 200; font-style: italic; }

@font-face { font-family: 'Lato'; src: local("Lato Light"), local("Lato-Light"), url("../fonts/lato/latolight.woff2") format("woff2"), url("../fonts/lato/latolight.woff") format("woff"), url("../fonts/lato/latolight.ttf") format("truetype"); font-weight: 300; font-style: normal; }

@font-face { font-family: 'Lato'; src: local("Lato Light Italic"), local("Lato-LightItalic"), url("../fonts/lato/latolightitalic.woff2") format("woff2"), url("../fonts/lato/latolightitalic.woff") format("woff"), url("../fonts/lato/latolightitalic.ttf") format("truetype"); font-weight: 300; font-style: italic; }

@font-face { font-family: 'LatoRegular'; src: url("../fonts/lato/latoregular.woff2") format("woff2"), url("../fonts/lato/latoregular.woff") format("woff"), url("../fonts/lato/latoregular.ttf") format("truetype"); font-style: normal; }

@font-face { font-family: 'Lato'; src: local("Lato Italic"), local("Lato-Italic"), url("../fonts/lato/latoitalic.woff2") format("woff2"), url("../fonts/lato/latoitalic.woff") format("woff"), url("../fonts/lato/latoitalic.ttf") format("truetype"); font-weight: 400; font-style: italic; }

@font-face { font-family: 'LatoMedium'; src: url("../fonts/lato/latomedium.woff2") format("woff2"), url("../fonts/lato/latomedium.woff") format("woff"), url("../fonts/lato/latomedium.ttf") format("truetype"); font-style: normal; }

@font-face { font-family: 'LatoSemibold'; src: local("Lato Semibold"), local("Lato-Semibold"), url("../fonts/lato/latosemibold.woff2") format("woff2"), url("../fonts/lato/latosemibold.woff") format("woff"), url("../fonts/lato/latosemibold.ttf") format("truetype"); }

@font-face { font-family: 'LatoBold'; src: url("../fonts/lato/latobold.woff2") format("woff2"), url("../fonts/lato/latobold.woff") format("woff"), url("../fonts/lato/latobold.ttf") format("truetype"); }

@font-face { font-family: 'Lato'; src: local("Lato Medium Italic"), local("Lato-MediumItalic"), url("../fonts/lato/latomediumitalic.woff2") format("woff2"), url("../fonts/lato/latomediumitalic.woff") format("woff"), url("../fonts/lato/latomediumitalic.ttf") format("truetype"); font-weight: 500; font-style: italic; }

@font-face { font-family: 'Lato'; src: local("Lato Semibold Italic"), local("Lato-SemiboldItalic"), url("../fonts/lato/latosemibolditalic.woff2") format("woff2"), url("../fonts/lato/latosemibolditalic.woff") format("woff"), url("../fonts/lato/latosemibolditalic.ttf") format("truetype"); font-weight: 600; font-style: italic; }

@font-face { font-family: 'Lato'; src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url("../fonts/lato/latobolditalic.woff2") format("woff2"), url("../fonts/lato/latobolditalic.woff") format("woff"), url("../fonts/lato/latobolditalic.ttf") format("truetype"); font-weight: 700; font-style: italic; }

@font-face { font-family: 'Lato'; src: local("Lato Heavy"), local("Lato-Heavy"), url("../fonts/lato/latoheavy.woff2") format("woff2"), url("../fonts/lato/latoheavy.woff") format("woff"), url("../fonts/lato/latoheavy.ttf") format("truetype"); font-weight: 800; font-style: normal; }

@font-face { font-family: 'Lato'; src: local("Lato Heavy Italic"), local("Lato-HeavyItalic"), url("../fonts/lato/latoheavyitalic.woff2") format("woff2"), url("../fonts/lato/latoheavyitalic.woff") format("woff"), url("../fonts/lato/latoheavyitalic.ttf") format("truetype"); font-weight: 800; font-style: italic; }

@font-face { font-family: 'LatoBlack'; src: url("../fonts/lato/latoblack.woff2") format("woff2"), url("../fonts/lato/latoblack.woff") format("woff"), url("../fonts/lato/latoblack.ttf") format("truetype"); }

@font-face { font-family: 'Lato'; src: local("Lato Black Italic"), local("Lato-BlackItalic"), url("../fonts/lato/latoblackitalic.woff2") format("woff2"), url("../fonts/lato/latoblackitalic.woff") format("woff"), url("../fonts/lato/latoblackitalic.ttf") format("truetype"); font-weight: 900; font-style: italic; }

/* GENERAL */
body { font-family: "LatoRegular"; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; outline: none; }

header, section, footer { position: relative; width: 100%; }

.wrapper { position: relative; max-width: 1140px; padding: 0 10px; margin: 0 auto; }

.wrapper_large { position: relative; max-width: 100%; padding: 0 55px; margin: 0 auto; }

input[type="text"]::-webkit-input-placeholder, input[type="text"]::-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="text"]:-ms-input-placeholder { color: #5c6770; }

input[type="submit"], select { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; }

/* for number input */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; -moz-appearance: none; appearance: none; margin: 0; }

input[type="number"] { -moz-appearance: textfield; }

input[type="number"]:hover, input[type="number"]:focus { -moz-appearance: number-input; }

span.strong { font-weight: bold; }

/* no scroll & gotop */
html.no-scrollt, body.no-scrollt { height: 100%; width: 100%; max-height: 100%; max-width: 100%; overflow: hidden; }

/* no scroll */
html.no-scroll, body.no-scroll { width: 100%; max-width: 100%; overflow: hidden; }

/* COMMON */
a[data-lightbox] { position: absolute; background-color: rgba(0, 0, 0, 0.4); width: 100%; z-index: 100; height: 100%; top: 0; left: 0; background-position: center; background-repeat: no-repeat; opacity: 0; -webkit-transition: .3s; -o-transition: .3s; transition: .3s; }

a[data-lightbox]:hover { opacity: 1; text-decoration: none; }

a[data-lightbox]:before { content: "+"; position: absolute; top: 50%; box-sizing: border-box; left: 50%; margin-left: -40px; margin-top: -40px; width: 80px; height: 80px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; color: rgba(255, 255, 255, 0.49); border: 4px solid rgba(255, 255, 255, 0.52); text-align: center; font-size: 55px; line-height: 66px; }

@media only screen and (max-width: 800px) { a[data-lightbox] { display: none; } }

/* GRID */
/* form */
.form_row { margin-bottom: 20px; }

.form_row:before, .form_row:after { content: ""; display: table; }

.form_row:after { clear: both; }

.form_row__name { float: left; color: #000; font-size: 26px; margin-top: 14px; }

.form_row__input_holder { margin-left: 240px; }

/* FORM */
.input_text { width: 100%; border: 1px solid #535353; padding: 5px 10px; font-size: 18px; height: 60px; color: #2F2F31; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.input_text:focus { border: 1px solid #000; }

.textarea_form { width: 100%; border: 1px solid #535353; padding: 10px; font-size: 18px; resize: none; color: #2F2F31; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; height: 100px; }

.textarea_form:focus { border: 1px solid #000; }

.input_file { display: inline-block; position: relative; padding-left: 30px; cursor: pointer; user-select: none; background: url("../img/decor_9.png") left center no-repeat; user-select: none; }

.input_file input { display: none; }

.input_file span { font-size: 18px; color: #2E8CC7; border-bottom: 2px dotted #2E8CC7; }

.form_select_wrap { position: relative; width: 100%; height: 60px; border: 1px solid #818181; background: #fff; }

.form_select_wrap select { width: 100%; height: 100%; border: none; background: none; font-size: 18px !important; padding: 0 10px; cursor: pointer; font-family: "LatoRegular" !important; color: #444; }

.form_select_wrap select option { border: 1px solid red !important; }

.form_select_wrap:after { content: ""; position: absolute; top: 0; right: 10px; height: 100%; z-index: 10; display: block; width: 20px; pointer-events: none; background: #fff url("../img/arrow_2.png") center no-repeat; }

/* HEADER */
header { position: relative; z-index: 120; background: #fff; }

header .wrapper_large { padding-top: 10px; padding-bottom: 10px; }

header .wrapper_large:before, header .wrapper_large:after { content: ""; display: table; }

header .wrapper_large:after { clear: both; }

.header__logo { float: left; }

.header__right { float: right; text-align: right; }

/* header__action_w */
.header__action_w { margin-top: 20px; }

.header__action_w.fixed { position: fixed; top: 0; width: 100%; right: 0; background: rgba(255, 255, 255, 0.95); margin-top: 0; padding-right: 55px; padding-top: 5px; padding-bottom: 5px; }

.header__action_w.fixed .header__action_num { font-size: 18px; }

/* header__nav_w */
.header__nav_w { margin-top: 20px; }

.header__nav ul li { display: inline-block; }

.header__nav ul li:not(:first-child) { margin-left: 20px; }

.header__nav ul a { color: #000; font-size: 16px; text-transform: uppercase; font-family: "LatoMedium"; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.header__nav ul a:hover { color: #650631; }

.header__action_num { color: #666; font-size: 24px; font-family: "LatoBold"; vertical-align: middle; }

.header__action_num:not(:first-child) { margin-left: 20px; }

/* header__action__search_w */
.header__action__search_w { display: inline-block; vertical-align: middle; margin-left: 25px; }

.header__action__search_box { position: relative; width: 50px; overflow: hidden; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.header__action__search_box.active { width: 250px; }

.header__action__search_input { position: absolute; top: 0; right: 0; height: 50px; font-size: 16px; padding: 0 70px 0 10px; color: #666; width: 100%; border: 1px solid #EFEFEF; background: #EEF0F5; }

.header__action__search_btn { position: relative; display: block; float: right; width: 50px; height: 50px; background: #EFEFEF; z-index: 10; }

.header__action__search_btn span { display: inline-block; vertical-align: middle; position: relative; width: 20px; height: 20px; -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.header__action__search_btn span:after, .header__action__search_btn span:before { position: absolute; content: ""; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.header__action__search_btn span:after { width: 5px; height: 11px; left: 9px; top: 18px; border-radius: 2px; background: #676767; }

.header__action__search_btn span:before { width: 14px; height: 14px; left: 0px; top: 0px; border-radius: 16px; border: 4px solid #676767; }

.header__action__search_btn:hover { background: #e4e4e4; }

.header__action__search_btn:hover span { -moz-transform: rotate(-60deg); -o-transform: rotate(-60deg); -ms-transform: rotate(-60deg); -webkit-transform: rotate(-60deg); transform: rotate(-60deg); }

/* header__action__cart_w */
.header__action__cart_w { display: inline-block; vertical-align: middle; margin-left: 20px; }

.header__action__cart { position: relative; width: 50px; height: 50px; background: #EFEFEF; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.header__action__cart .cart_count { position: absolute; top: 0px; width: 20px; text-align: center; display: block; left: 15px; font-size: 13px; -webkit-border-radius: 50%; border-radius: 50%; background-clip: padding-box; background-clip: padding-box; height: 20px; color: #676767; z-index: 1; }

.header__action__cart_btn { position: relative; z-index: 5; display: block; width: 100%; height: 100%; background: url("../img/shopping-cart.svg") center no-repeat; background-size: 1em; font-size: 26px; cursor: pointer; }

.header__action__cart:hover { background: #E4E4E4; }

/* mobile_top_bar */
.mobile_top_bar { position: fixed; z-index: 230; left: 0; top: 0; right: 0; -webkit-box-shadow: 0px 1px 3px grey; -moz-box-shadow: 0px 1px 3px grey; -ms-box-shadow: 0px 1px 3px grey; box-shadow: 0px 1px 3px grey; display: table; width: 100%; background: #ffffff; table-layout: fixed; display: none; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.mobile_top_bar__item { display: table-cell; vertical-align: middle; color: #fff; text-align: center; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.mobile_top_bar__item .header__action__cart { margin: 0 auto; background: none; }

.mobile_top_bar__item:hover { background: #ededed; }

.mobile_top_bar__item:not(:last-child) { border-right: 1px solid rgba(103, 103, 103, 0.47); }

.mobile_top_bar__search_btn { position: relative; display: block; margin: 0 auto; width: 50px; height: 50px; z-index: 10; }

.mobile_top_bar__search_btn span { display: inline-block; margin-top: 13px; position: relative; cursor: pointer; width: 20px; height: 20px; -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.mobile_top_bar__search_btn span:after, .mobile_top_bar__search_btn span:before { position: absolute; content: ""; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.mobile_top_bar__search_btn span:after { width: 5px; height: 11px; left: 9px; top: 18px; border-radius: 2px; background: #676767; }

.mobile_top_bar__search_btn span:before { width: 14px; height: 14px; left: 0px; top: 0px; border-radius: 16px; border: 4px solid #676767; }

.mobile_top_bar__search_btn:hover span { -moz-transform: rotate(-60deg); -o-transform: rotate(-60deg); -ms-transform: rotate(-60deg); -webkit-transform: rotate(-60deg); transform: rotate(-60deg); }

.mobile_top_bar__nav_btn { height: 50px; padding: 5px; margin: 0 auto; cursor: pointer; overflow: hidden; user-select: none; text-align: center; }

.mobile_top_bar__nav_btn span { display: block; width: 100%; width: 40px; height: 5px; background: #676767; margin: 6px auto 0; -webkit-border-radius: 5px; border-radius: 5px; background-clip: padding-box; }

.mobile_top_bar__search_wrap { width: 100%; height: 50px; left: 0; position: absolute; display: none; }

.mobile_top_bar__search_wrap .header__action__search_box { width: 100%; }

/* category_nav */
body.home .category_nav { position: absolute; border-top: 2px solid #fff; border-bottom: 2px solid #fff; }

.category_nav { margin-top: 35px; border-top: 2px solid #EBEBEB; border-bottom: 2px solid #EBEBEB; background: rgba(255, 255, 255, 0.5); z-index: 100; }

/* mobile_nav_wrap */
.mobile_nav_wrap { position: fixed; top: 0; left: 0; width: 280px; height: 100%; overflow: hidden; background: #ebebeb; z-index: 210; overflow-y: auto; padding: 20px 10px; opacity: 0; pointer-events: none; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.mobile_nav_wrap .header__logo { margin-bottom: 15px; }

.mobile_nav_wrap .header__logo img { width: 100%; height: auto; top: 0; }

/* mobile_nav */
.mobile_nav { padding-bottom: 50px; }

.main_wrap { position: relative; background: #fff; z-index: 220; width: 100%; height: 100%; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; -webkit-backface-visibility: hidden; -webkit-overflow-scrolling: touch; }

/* open_nav */
.main_wrap.open_nav { -moz-transform: translate3d(280px, 0, 0); -o-transform: translate3d(280px, 0, 0); -ms-transform: translate3d(280px, 0, 0); -webkit-transform: translate3d(280px, 0, 0); transform: translate3d(280px, 0, 0); -webkit-box-shadow: -2px 1px 2px 1px rgba(103, 103, 103, 0.18); -moz-box-shadow: -2px 1px 2px 1px rgba(103, 103, 103, 0.18); -ms-box-shadow: -2px 1px 2px 1px rgba(103, 103, 103, 0.18); box-shadow: -2px 1px 2px 1px rgba(103, 103, 103, 0.18); }

.mobile_top_bar.open_nav { -moz-transform: translate3d(280px, 0, 0); -o-transform: translate3d(280px, 0, 0); -ms-transform: translate3d(280px, 0, 0); -webkit-transform: translate3d(280px, 0, 0); transform: translate3d(280px, 0, 0); }

.mobile_nav_wrap.open_nav { opacity: 1; pointer-events: all; }

/* breadcrumbs */
.breadcrumbs .wrapper_large { padding-top: 20px; padding-bottom: 20px; }

.breadcrumbs__wrap a { color: #000; }

.breadcrumbs__wrap span { color: #000; }

/* cat_title */
.cat_title .wrapper_large { padding-top: 40px; padding-bottom: 30px; }

.cat_title .wrapper_large h1 { font-size: 40px; text-align: center; font-weight: normal; line-height: 1; }

/* catalogue */
.catalogue .wrapper_large { padding-top: 30px; }

.catalogue__wrap { overflow: hidden; }

.catalogue__wrap:before, .catalogue__wrap:after { content: ""; display: table; }

.catalogue__wrap:after { clear: both; }

/* catalogue__left_side */
.catalogue__left_side { width: 350px; float: left; }

.catalogue__left_side__title { display: block; border-top: 1px solid #535353; border-bottom: 1px solid #535353; color: #000; padding: 15px 0; line-height: 1; font-size: 30px; margin-bottom: 30px; }

.catalogue__left_side__cat_title { display: inline-block; cursor: pointer; color: #535353; font-size: 20px; text-transform: uppercase; font-family: "LatoBold"; margin-bottom: 10px; line-height: 1; }

.catalogue__left_side__cat_title:after { content: ""; display: inline-block; margin-left: 10px; width: 10px; height: 10px; background: url("../img/arrow_2.png"); }

.catalogue__left_side__cat_wrap { margin-bottom: 50px; }

.catalogue__left_side__cat_wrap ul { margin-bottom: 20px; }

.catalogue__left_side__cat_wrap ul li { margin-bottom: 5px; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.catalogue__left_side__cat_wrap ul li.active { padding-left: 10px; font-family: "LatoBold"; }

.catalogue__left_side__cat_wrap ul li.active a { color: #650631; }

.catalogue__left_side__cat_wrap ul li:hover { margin-left: 5px; }

.catalogue__left_side__cat_wrap ul a { color: #000; font-size: 20px; font-weight: normal; }

.catalogue__left_side__cat_wrap ul a:hover { color: #650631; font-family: "LatoBold"; }

/* filter_wrap */
.filter_wrap { margin-bottom: 40px; }

.filter_title { display: block; color: #535353; font-size: 20px; text-transform: uppercase; font-family: "LatoBold"; margin-bottom: 15px; }

/* filter_size__wrap */
.filter_size__wrap:before, .filter_size__wrap:after { content: ""; display: table; }

.filter_size__wrap:after { clear: both; }

.filter_size__wrap input { display: none; }

.filter_size__wrap label { float: left; margin-right: 3px; margin-bottom: 3px; }

.filter_size__wrap label span { display: block; width: 65px; height: 65px; font-size: 18px; background: #EFEFEF; text-align: center; line-height: 65px; cursor: pointer; user-select: none; color: #000; border: 1px solid transparent; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.filter_size__wrap input:checked + span { background: #650631; color: #fff; }

.filter_size__wrap span:hover { border: 1px solid #650631; }

.catalogue__know_size { display: inline-block; font-size: 14px; color: #C90; cursor: pointer; text-transform: uppercase; text-decoration: underline; margin-top: 10px; }

.catalogue__know_size:hover { text-decoration: none; }

.single_size_head .filter_title { float: left; }

.single_size_head .single_catalogue__know_size { display: inline-block; font-size: 14px; color: #C90; float: right; cursor: pointer; text-transform: uppercase; text-decoration: underline; margin-top: 5px; margin-right: 10px; }

.single_size_head .single_catalogue__know_size:hover { text-decoration: none; }

.single_size_head:before, .single_size_head:after { content: ""; display: table; }

.single_size_head:after { clear: both; }

.filter_color__wrap:before, .filter_color__wrap:after { content: ""; display: table; }

.filter_color__wrap:after { clear: both; }

.filter_color__wrap input { display: none; }

.filter_color__wrap label { float: left; margin-right: 3px; margin-bottom: 3px; }

.filter_color__wrap label span { display: block; position: relative; width: 65px; height: 65px; font-size: 20px; text-align: center; line-height: 65px; cursor: pointer; user-select: none; }

.filter_color__wrap label span:after { content: ""; position: absolute; width: 100%; height: 100%; box-sizing: border-box; top: 0px; left: 0px; border: 1px solid transparent; background: rgba(101, 6, 49, 0.45) url("../img/check.png") center no-repeat; opacity: 0; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.filter_color__wrap input:checked + span:after { border: 1px solid #650631; opacity: 1; }

.filter_color__wrap span:hover:after { opacity: 1; }

.filter_length__wrap:before, .filter_length__wrap:after { content: ""; display: table; }

.filter_length__wrap:after { clear: both; }

.filter_length__wrap input { display: none; }

.filter_length__wrap label { float: left; width: 112px; margin-right: 3px; margin-bottom: 3px; }

.filter_length__wrap label span { display: block; position: relative; height: 64px; line-height: 64px; font-size: 20px; text-align: center; cursor: pointer; user-select: none; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; background: #EFEFEF; border: 1px solid transparent; color: #000; }

.filter_length__wrap input:checked + span { background: #650631; color: #fff; }

.filter_length__wrap span:hover { border: 1px solid #650631; }

/* catalogue__content */
.catalogue__content { margin-left: 360px; overflow: hidden; }

.catalogue__content .grid__wrap { overflow: hidden; padding-bottom: 90px; }

.catalogue__content .grid__coll { width: 33.3%; margin-bottom: 15px; text-align: center; }

.catalogue__content .seo_text { margin-bottom: 50px; }

/* GRID */
.grid__wrap { margin: 0 -15px; }

.grid__wrap:before, .grid__wrap:after { content: ""; display: table; }

.grid__wrap:after { clear: both; }

.grid__coll { float: left; padding: 0 15px; }

/* .single__item */
.single__item .wrapper_large { padding-top: 50px; padding-bottom: 50px; }

.single__item .wrapper_large:before, .single__item .wrapper_large:after { content: ""; display: table; }

.single__item .wrapper_large:after { clear: both; }

/* single__item__left */
.single__item__left { width: 620px; float: left; }

/* single__item__gallery_wrap */
.single__item__gallery_wrap { height: 635px; overflow: hidden; }

.single__item__gallery_big { width: 480px; height: 100%; float: left; }

.single__item__gallery_big img { display: block; width: 100%; height: auto; }

.single__item__gallery_small { position: relative; float: right; width: 120px; height: 100%; overflow: hidden; }

.single__item__gallery_small__wrap { margin-top: -10px; }

.single__item__gallery_small__item { margin-top: 10px; }

.single__item__gallery_small__item img { display: block; width: 100%; height: auto; }

.single__item__gallery_small__left, .single__item__gallery_small__right { width: 100%; height: 34px; background-color: rgba(0, 0, 0, 0.3); position: absolute; cursor: pointer; user-select: none; background-position: center; background-repeat: no-repeat; }

.single__item__gallery_small__left { top: 0; background-image: url("../img/arrow_3.png"); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.single__item__gallery_small__right { bottom: 0; background-image: url("../img/arrow_3.png"); }

/* single__item__option */
.single__item__option { padding: 20px; margin-top: 20px; background: #EBEBEB; display: table; width: 100%; table-layout: fixed; }

.single__item__option__item { display: table-cell; text-align: center; padding: 0 10px; }

.single__item__option__item img { margin-bottom: 5px; }

.single__item__option__item p { font-size: 20px; }

/* single__item__right */
.single__item__right { margin-left: 650px; max-width: 850px; }

.single_item_title_holder { font-size: 30px; font-weight: normal; color: #000; border-top: 1px solid #535353; border-bottom: 1px solid #535353; padding: 15px 0; }

.single_item_title_holder h1 { font-weight: normal; }

/* single__item__right__action */
.single__item__right__action { margin-top: 40px; overflow: hidden; }

.single__item__right__action:before, .single__item__right__action:after { content: ""; display: table; }

.single__item__right__action:after { clear: both; }

/* single__item__filter */
.single__item__filter { width: 350px; float: left; }

/* single__item__info */
.single__item__info { float: right; }

.single__item__info__price span { display: block; line-height: 1; }

.single__item__info__price .title { color: #535353; font-size: 20px; font-family: "LatoBold"; text-transform: uppercase; }

.single__item__info__price .old { color: #000; font-size: 30px; margin-top: 15px; text-decoration: line-through; }

.single__item__info__price .cur { font-size: 50px; color: #B60C30; font-family: "LatoBold"; margin-top: 10px; }

.single__item__info__actions { margin-top: 35px; }

.single__item__info__actions span { display: block; font-size: 18px; font-family: "LatoBold"; text-transform: uppercase; height: 60px; line-height: 60px; width: 250px; cursor: pointer; text-align: center; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.single__item__info__actions .single_add_to_cart { background-image: url(../img/mini_cart.png); background-position: 55px 22px; background-repeat: no-repeat; background-color: #650631; color: #fff; padding-left: 25px; margin-top: 5px; }

.single__item__info__actions .single_add_to_cart:hover { opacity: .8; }

.single__item__info__actions .single_bye_one_click { margin-top: 15px; background: #EFEFEF; color: #000; }

.single__item__info__actions .single_bye_one_click:hover { background: #E4E4E4; }

/* filter_count__wrap */
.count__item__wrap { position: relative; width: 110px; height: 60px; }

.count__item__input { display: block; box-sizing: border-box; width: 85px; text-align: center; height: 100%; border: 1px solid #818181; font-size: 20px; float: left; }

.count__item__btns { width: 20px; height: 100%; float: left; border: 1px solid #818181; border-left: none; background-color: #fff; }

.count__item__btns span { display: block; width: 100%; height: 50%; text-align: center; cursor: pointer; user-select: none; line-height: 1; background-position: center; background-repeat: no-repeat; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.count__item__btns span.minus { background-image: url("../img/arrow_2.png"); }

.count__item__btns span.plus { background-image: url("../img/arrow_2.png"); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.count__item__btns span:hover { background-color: #dddddd; }

/* single__item__right__tabs_wrap */
.single__item__right__tabs_wrap { margin-top: 40px; }

.single__item__tabs .tab_head { display: table; width: 100%; table-layout: fixed; }

.single__item__tabs .tab_head span { display: table-cell; text-align: center; cursor: pointer; font-size: 24px; padding: 10px 5px; border: 1px solid transparent; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.single__item__tabs .tab_head span:not(.active) { border-bottom: 1px solid #535353; }

.single__item__tabs .tab_head span.active:not(:first-of-type):not(:last-of-type) { border-left: 1px solid #535353; border-right: 1px solid #535353; }

.single__item__tabs .tab_head span.active:first-of-type { border-right: 1px solid #535353; }

.single__item__tabs .tab_head span.active:last-of-type { border-left: 1px solid #535353; }

.single__item__tabs .tab_head span.active { border-top: 1px solid #535353; }

.single__item__tabs .tab_body { margin-top: 25px; padding-bottom: 15px; }

.single__item__tabs .tab_item { display: none; font-size: 18px; line-height: 1.3; }

.single__item__tabs .tab_item.active { display: block; }

.category_nav__list { text-align: center; }

.category_nav__list li { display: inline-block; vertical-align: middle; font-size: 18px; text-transform: uppercase; margin: 5px 30px; }

.category_nav__list li:first-child { margin-left: 0; }

.category_nav__list li:last-child { margin-right: 0; }

.category_nav__list a { position: relative; color: #000; font-family: "LatoBold"; display: block; padding: 15px 0; }

.category_nav__list a:after { content: ""; position: absolute; display: block; z-index: 100; width: 100%; opacity: 0; height: 2px; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; background: #000; top: 60%; }

.category_nav__list a:hover:after { opacity: 1; top: 80%; }

/* home_slider */
.home_slider .wrapper_large { padding: 0; }

.home_slider_w { overflow: hidden; }

.home_slider__item { height: calc(100vh - 130px); min-height: 750px; background-size: cover; background-position: center top; background-repeat: no-repeat; }

.home_slider__item .wrapper { height: 100%; min-height: inherit; }

.home_slider__item__text { display: inline-block; background: rgba(255, 255, 255, 0.53); max-width: 550px; padding: 50px; margin-top: 220px; }

.home_slider__item__text .title { display: block; font-size: 40px; font-family: "LatoBold"; text-transform: uppercase; margin-bottom: 15px; }

.home_slider__item__text p { font-size: 22px; line-height: 1.3; }

/* section_title */
.section_title { display: block; text-align: center; font-size: 40px; }

/* benefit */
.benefit .wrapper { padding-top: 40px; padding-bottom: 40px; }

.benefit__wrap { text-align: center; display: table; width: 100%; table-layout: fixed; }

.benefit__item { display: table-cell; vertical-align: middle; }

.benefit__item img { display: inline-block; vertical-align: middle; }

.benefit__item span { display: inline-block; margin-left: 10px; max-width: 230px; text-align: left; vertical-align: middle; font-size: 24px; }

/* popular_tov */
.popular_tov .wrapper_large { padding: 0; padding-top: 30px; padding-bottom: 30px; }

.popular_tov__wrap { margin-top: 40px; }

/* slider_tov */
.slider_tov__wrap { position: relative; overflow: hidden; }

.slider_tov { margin: 0 55px; }

.slider_tov__item { margin: 0 15px; text-align: center; padding-bottom: 90px; }

.slider_tov__arrows { position: absolute; top: 50%; margin-top: -28px; display: block; width: 80px; height: 56px; background-color: rgba(0, 0, 0, 0.5); z-index: 10; cursor: pointer; user-select: none; background-position: center; background-repeat: no-repeat; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.slider_tov__arrows.prev { left: -80px; background-image: url("../img/arrow.png"); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.slider_tov__arrows.next { right: -80px; background-image: url("../img/arrow.png"); }

.slider_tov__wrap:hover .slider_tov__arrows.prev { left: 0; }

.slider_tov__wrap:hover .slider_tov__arrows.next { right: 0; }

.slider_tov__arrows:hover { background-color: rgba(0, 0, 0, 0.7); }

/* item_goods_holder */
.item_goods_holder { padding-top: 10px; max-width: 340px; display: inline-block; }

.item_goods_holder:hover .item_goods { border: 1px solid #DDDDDD; border-bottom: 1px solid transparent; }

.item_goods_holder:hover .item_goods__action { display: block; }

.item_goods { position: relative; margin: -10px; padding: 10px; border: 1px solid transparent; }

/*item_goods__head */
.item_goods__head { position: relative; }

.item_goods__img img { display: block; max-width: 100%; height: auto; }

.item_goods__size_w { position: absolute; bottom: 0; right: 5px; }

.item_goods__size_list li { display: block; height: 30px; padding: 0 8px; background: #fff; -webkit-border-radius: 20px; border-radius: 20px; background-clip: padding-box; line-height: 30px; text-align: center; font-size: 14px; margin-bottom: 5px; }

.item_goods__status { position: absolute; top: 30px; left: 0; }

.item_goods__status span { display: block; width: 80px; height: 40px; background: #000; color: #fff; font-size: 14px; text-transform: uppercase; text-align: left; line-height: 40px; padding-left: 10px; margin-bottom: 5px; }

.item_goods__status .top { background: #000000; }

.item_goods__status .new { background: #CC9900; }

.item_goods__status .sale { background: #B60C30; }

/*item_goods__info */
.item_goods__info { padding: 10px 15px; }

.item_goods__info span.name { display: block; font-size: 18px; color: #000; }

.info_price { margin-top: 10px; line-height: 1; }

.info_price .old { color: #000; font-size: 25px; margin-right: 5px; text-decoration: line-through; }

.info_price .cur { font-family: "LatoBlack"; color: #000; font-size: 30px; }

.info_price .old + .cur { color: #B60C30; }

/* item_goods__action */
.item_goods__action { position: absolute; left: -1px; right: -1px; border: 1px solid #DDDDDD; border-top: none; display: none; padding: 10px; background: #fff; padding-bottom: 20px; z-index: 20; }

.item_goods__action .more_btn, .item_goods__action .in_cart_btn { font-size: 14px; font-family: "LatoBold"; text-transform: uppercase; width: 130px; height: 50px; line-height: 50px; display: inline-block; vertical-align: top; cursor: pointer; margin: 0 2px; margin-top: 5px; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.item_goods__action .more_btn { background: #EFEFEF; color: #000; }

.item_goods__action .in_cart_btn { background-image: url("../img/mini_cart.png"); background-position: 15px 16px; background-repeat: no-repeat; background-color: #650631; color: #fff; padding-left: 25px; margin-top: 5px; }

.item_goods__action .more_btn:hover { background: #E4E4E4; }

.item_goods__action .in_cart_btn:hover { opacity: .8; }

/* recently_viewed */
.recently_viewed .wrapper_large { padding-top: 50px; padding-bottom: 100px; }

.recently_viewed__wrap { margin-top: 35px; }

.recently_viewed__wrap .item_goods_holder { margin: 10px 15px; vertical-align: top; width: 200px; text-align: center; }

.recently_viewed__wrap .item_goods_holder .item_goods__size_w { display: none; }

.recently_viewed__wrap .item_goods_holder .item_goods__status { display: none; }

.recently_viewed__wrap .item_goods_holder .item_goods__info span.name { font-size: 16px; }

.recently_viewed__wrap .item_goods_holder .info_price .old { font-size: 16px; }

.recently_viewed__wrap .item_goods_holder .info_price .cur { font-size: 20px; }

/* cart */
.cart .wrapper_large { padding-top: 50px; padding-bottom: 60px; }

.cart .cart__wrap { margin-top: 70px; }

.cart__table { width: 100%; border-collapse: collapse; overflow-x: scroll; border-bottom: 1px solid #585858; }

.cart__table thead td { border-top: 1px solid #585858; border-bottom: 1px solid #585858; color: #000; font-size: 28px; padding: 10px 20px; }

.cart__table tbody tr:nth-of-type(2n+1) { background: #F7F7F7; }

.cart__table tbody td { padding: 40px 20px; min-width: 150px; }

.cart__table__img img { width: 110px; height: auto; }

.cart__table__name a { color: #000; font-size: 26px; }

.cart__table__name a:hover { text-decoration: underline; }

.cart__table__price span { font-size: 26px; color: #000; }

.cart__table__summ span { font-size: 26px; color: #000; }

/*cart__footer */
.cart__footer { padding-top: 25px; padding-bottom: 10px; }

.cart__footer:before, .cart__footer:after { content: ""; display: table; }

.cart__footer:after { clear: both; }

.cart__footer__action { float: left; }

.cart__go_order, .cart__go_catalog { font-size: 18px; text-transform: uppercase; font-family: "LatoBold"; display: block; height: 60px; width: 280px; display: inline-block; vertical-align: top; text-align: center; line-height: 60px; cursor: pointer; user-select: none; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.cart__go_order { background: #650631; color: #fff; margin-right: 30px; }

.cart__go_order:hover { opacity: .9; }

.cart__go_catalog { background: #EFEFEF; color: #000; }

.cart__go_catalog:hover { background: #d8d8d8; }

.cart__footer__total { float: right; margin-top: 15px; margin-right: 40px; }

.cart__footer__total span { font-family: "LatoBold"; font-size: 30px; }

.cart__footer__total .name { color: #535353; text-transform: uppercase; margin-right: 70px; }

.cart__clear__btn { color: #000; display: inline-block; cursor: pointer; font-family: "LatoBold"; font-size: 20px; text-align: left; text-transform: uppercase; text-decoration: underline; margin-top: 20px; }

.cart__clear__btn:hover { text-decoration: none; }

/* size__item__wrap */
.size__item__wrap { position: relative; width: 105px; height: 60px; border: 1px solid #818181; background: #fff; }

.size__item__wrap select { width: 100%; height: 100%; border: none; background: none; font-size: 20px; padding: 0 10px; cursor: pointer; }

.size__item__wrap:after { content: ""; position: absolute; top: 0; right: 0; height: 100%; z-index: 10; border-left: 1px solid #818181; display: block; width: 20px; pointer-events: none; background: #fff url("../img/arrow_2.png") center no-repeat; }

/* order_page */
.order_page .wrapper { padding-top: 50px; padding-bottom: 50px; }

.order_page__wrap { max-width: 760px; margin: 0 auto; margin-top: 40px; }

.order_page__wrap .form_row { padding: 0 40px; }

.order_form__title { font-size: 30px; color: #000; display: block; padding: 15px 40px; border-top: 1px solid #535353; border-bottom: 1px solid #535353; margin-bottom: 40px; }

.form_row__add_comment { display: inline-block; font-size: 20px; margin-top: 10px; text-transform: uppercase; font-family: "LatoBold"; border-bottom: 1px dotted #535353; cursor: pointer; user-select: none; }

.order_form__comment { display: none; }

.order_form__case { display: none; }

#order_form__for__new_post { display: block; }

.order_form__footer { padding: 20px 40px; border-top: 1px solid #535353; border-bottom: 1px solid #535353; }

.order_form__footer:before, .order_form__footer:after { content: ""; display: table; }

.order_form__footer:after { clear: both; }

.order_form__footer__left { float: left; }

.order_form__footer__left span { font-family: "LatoBold"; font-size: 30px; }

.order_form__footer__left .title { text-transform: uppercase; color: #5E5E5E; margin-right: 15px; }

.order_form__footer__right { float: right; }

.order_form__footer__right .pay { font-size: 20px; display: inline-block; margin-top: 10px; }

.order_form__action { margin-top: 40px; }

.order_form__submit, .order_form__went_bye { font-size: 18px; text-transform: uppercase; font-family: "LatoBold"; display: block; height: 70px; width: 270px; display: inline-block; vertical-align: top; text-align: center; line-height: 70px; cursor: pointer; user-select: none; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.order_form__submit { background: #650631; color: #fff; margin-right: 30px; }

.order_form__submit:hover { opacity: .9; }

.order_form__went_bye { background: #EFEFEF; color: #000; }

.order_form__went_bye:hover { background: #d8d8d8; }

.terms_of_use { display: inline-block; margin-top: 30px; max-width: 350px; font-size: 20px; color: #535353; }

.terms_of_use a { color: #535353; border-bottom: 1px solid #535353; }

.terms_of_use a:hover { border-bottom: none; }

.select_sity__wrap .select2 { height: 100% !important; width: 100% !important; font-size: 18px !important; }

.select_sity__wrap .select2-selection--single { height: 100% !important; width: 100% !important; border: none; }

.select_sity__wrap .select2-selection__rendered { line-height: 60px !important; font-family: "LatoRegular" !important; }

.select_sity__wrap .select2-selection__arrow { display: none !important; }

/* seo_text */
.seo_text .wrapper { padding-top: 40px; padding-bottom: 40px; }

.seo_text p { margin-top: 20px; font-size: 22px; }

.seo_text__btn { display: none; margin-top: 20px; width: 64px; height: 50px; line-height: 26px; background: #EBEBEB; cursor: pointer; user-select: none; text-align: center; color: #535353; font-size: 40px; }

.seo_text__wrap { margin-top: 30px; }

.seo_text__block { overflow: hidden; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.seo_text__block.hidden { height: 210px; }

.seo_text__block.hidden + .seo_text__btn { display: block; }

.seo_text__block.open { height: auto; }

/* reviews */
.reviews .wrapper_large { padding-top: 50px; padding-bottom: 50px; }

.reviews__wrap { margin-top: 60px; display: table; width: 100%; }

.reviews__wrap:before, .reviews__wrap:after { content: ""; display: table; }

.reviews__wrap:after { clear: both; }

.reviews__wrap__left { display: table-cell; width: 100%; padding-right: 70px; }

.reviews_item { background: #EFEFEF; padding: 40px; margin-bottom: 20px; }

.reviews_item:before, .reviews_item:after { content: ""; display: table; }

.reviews_item:after { clear: both; }

.reviews__wrap__right { display: table-cell; min-width: 450px; }

.reviews__wrap__right .title { display: block; padding: 15px 40px; font-size: 30px; border-top: 1px solid #535353; border-bottom: 1px solid #535353; }

.reviews_item__info__rating__wrap .reviews_rating_block { padding-bottom: 20px; border-bottom: 1px solid #999999; }

.reviews_item__info { width: 220px; float: left; }

.reviews_item__info .name { display: block; margin-top: 10px; font-family: "LatoBold"; font-size: 26px; }

.reviews_item__info .date { display: block; color: #565656; font-size: 20px; margin-top: 5px; }

.reviews_item__text { margin-left: 225px; padding-left: 50px; font-size: 22px; }

.reviews__form__wrap { margin-top: 30px; }

.reviews__form__wrap .form_row { margin-bottom: 25px; }

.reviews__form__wrap .form_row__name { float: none; }

.reviews__form__wrap .form_row__input_holder { margin-top: 10px; margin-left: 0; }

.reviews__form__wrap .textarea_form { height: 150px; }

.reviews__form__wrap .form_row__name { font-size: 22px; }

.reviews__form__submit { font-size: 18px; text-transform: uppercase; font-family: "LatoBold"; display: block; height: 60px; width: 200px; vertical-align: top; text-align: center; line-height: 60px; cursor: pointer; user-select: none; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; background: #650631; color: #fff; margin: 15px auto 0; }

.reviews__form__submit:hover { opacity: .9; }

.reviews_slider__footer { margin-top: 15px; }

.reviews_slider__footer:before, .reviews_slider__footer:after { content: ""; display: table; }

.reviews_slider__footer:after { clear: both; }

.reviews_slider__footer .count { float: left; font-size: 26px; color: #999; margin-top: 15px; }

.reviews_slider__nav { float: right; }

.reviews_slider__nav span { display: inline-block; width: 60px; height: 60px; border: 1px solid #535353; margin-left: 10px; cursor: pointer; user-select: none; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; background: url("../img/arrow_4.png") center no-repeat; }

.reviews_slider__nav .next { -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.reviews_rating_block { overflow: hidden; display: inline-block; }

.reviews_rating_block input { display: none; }

.reviews_rating_block label.star { float: right; font-size: 26px; line-height: 1; margin-right: 5px; color: #999999; cursor: pointer; transition: all .2s; }

.reviews_rating_block input.star:checked ~ label.star:before { content: '\f005'; color: #FD4; transition: all .25s; }

.reviews_rating_block input.star-1:checked ~ label.star:before { color: #C92927; }

.reviews_rating_block input.star-2:checked ~ label.star:before { color: #D5461D; }

.reviews_rating_block input.star-3:checked ~ label.star:before { color: #DD5C14; }

.reviews_rating_block input.star-4:checked ~ label.star:before { color: #E97A09; }

.reviews_rating_block input.star-5:checked ~ label.star:before { color: #F29000; }

.reviews_rating_block label.star:before { content: '\f005'; font-family: FontAwesome; }

.reviews_item__info__rating { padding-bottom: 20px; display: inline-block; border-bottom: 1px solid #535353; }

.reviews_item__info__rating span { font-size: 26px; line-height: 1; margin-right: 5px; color: #999999; transition: all .2s; }

.reviews_item__info__rating span:before { content: '\f005'; font-family: FontAwesome; }

.reviews_item__info__rating_1 span:nth-child(1):before { color: #C92927; }

.reviews_item__info__rating_2 span:nth-child(1):before { color: #C92927; }

.reviews_item__info__rating_2 span:nth-child(2):before { color: #D5461D; }

.reviews_item__info__rating_3 span:nth-child(1):before { color: #C92927; }

.reviews_item__info__rating_3 span:nth-child(2):before { color: #D5461D; }

.reviews_item__info__rating_3 span:nth-child(3):before { color: #DD5C14; }

.reviews_item__info__rating_4 span:nth-child(1):before { color: #C92927; }

.reviews_item__info__rating_4 span:nth-child(2):before { color: #D5461D; }

.reviews_item__info__rating_4 span:nth-child(3):before { color: #DD5C14; }

.reviews_item__info__rating_4 span:nth-child(4):before { color: #E97A09; }

.reviews_item__info__rating_5 span:nth-child(1):before { color: #C92927; }

.reviews_item__info__rating_5 span:nth-child(2):before { color: #D5461D; }

.reviews_item__info__rating_5 span:nth-child(3):before { color: #DD5C14; }

.reviews_item__info__rating_5 span:nth-child(4):before { color: #E97A09; }

.reviews_item__info__rating_5 span:nth-child(5):before { color: #F29000; }

/* FOOTER */
footer { background: #EBEBEB; }

footer .wrapper { padding-top: 30px; padding-bottom: 40px; }

.footer__nav_w { text-align: center; }

.footer__nav li { display: inline-block; margin: 10px; }

.footer__nav a { font-size: 12px; color: #383838; text-transform: uppercase; font-family: "LatoBold"; }

.footer__nav a:hover { text-decoration: underline; }

.footer__social_wrap { text-align: center; margin-top: 35px; }

.footer__social_list li { display: inline-block; margin: 0 10px; }

.footer__social_list a { display: block; width: 40px; height: 40px; background-color: #fff; background-position: center; background-repeat: no-repeat; -webkit-border-radius: 50%; border-radius: 50%; background-clip: padding-box; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.footer__social_list a:hover { box-shadow: 0 0 1px 5px rgba(101, 6, 49, 0.21), 0 0 1px 10px rgba(101, 6, 49, 0.07), 0 0 1px 15px rgba(101, 6, 49, 0.01); -webkit-box-shadow: 0 0 1px 5px rgba(101, 6, 49, 0.21), 0 0 1px 10px rgba(101, 6, 49, 0.07), 0 0 1px 15px rgba(101, 6, 49, 0.01); }

.footer__social_list a.vk { background-image: url("../img/social_vk.png"); }

.footer__social_list a.fb { background-image: url("../img/social_fb.png"); }

/* footer__copy */
.footer__copy { margin-top: 30px; }

.footer__copy span { display: block; text-align: center; font-size: 16px; color: #666; }

/* scroll style */
::-webkit-scrollbar-button { background-repeat: no-repeat; width: 6px; height: 0px; }

::-webkit-scrollbar-track { background-color: #FFF; }

::-webkit-scrollbar-thumb { -webkit-border-radius: 5px; border-radius: 5px; background-color: #A8A8A8; background-position: center; background-repeat: no-repeat; }

::-webkit-resizer { background-repeat: no-repeat; width: 7px; height: 0px; }

::-webkit-scrollbar { width: 6px; }

/* modalOverlay */
.modalbtn { cursor: pointer; }

.modalOverlay { display: none; position: fixed; top: 0; bottom: 0; right: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.58); z-index: 1000; }

/* modalWindowWrap */
.modalWindowWrap { display: none; position: fixed; top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%; text-align: center; overflow-x: hidden; overflow-y: auto; z-index: 1100; }

.modalTable { display: table; height: 100%; width: 100%; }

.modalCell { display: table-cell; vertical-align: middle; padding: 50px 10px; }

.modalWindow { position: relative; color: #000; background: #fff; padding: 10px; max-width: 600px; margin: auto; border: 1px solid red; }

.modalWindowClose { display: block; position: absolute; top: -40px; right: 0; width: 32px; height: 32px; cursor: pointer; user-select: none; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.modalWindowClose:hover { -moz-transform: rotate(90deg); -o-transform: rotate(90deg); -ms-transform: rotate(90deg); -webkit-transform: rotate(90deg); transform: rotate(90deg); }

.modalWindowClose:before, .modalWindowClose:after { position: absolute; left: 15px; content: ' '; height: 33px; width: 4px; -webkit-border-radius: 3px; border-radius: 3px; background-clip: padding-box; background-color: #fff; }

.modalWindowClose:before { -moz-transform: rotate(45deg); -o-transform: rotate(45deg); -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.modalWindowClose:after { -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

/***** MEDIA *****/
@media only screen and (max-width: 1400px) { /* catalogue__content */
  .catalogue__content .grid__coll { width: 50%; }
  /* single item */
  .single__item__left { width: 500px; }
  .single__item__gallery_big { width: 360px; }
  .single__item__gallery_wrap { height: 470px; }
  .single__item__right { margin-left: 520px; }
  .single__item__filter { width: 280px; }
  .single__item__tabs .tab_head span { font-size: 22px; }
  /* reviews */
  .reviews__wrap__right { min-width: 300px; }
  .reviews_item slick-slide { padding: 20px; }
  .reviews_item__text { padding-left: 25px; } }

@media only screen and (max-width: 1240px) { /* cart */
  .cart__go_order { display: block; }
  .cart__go_catalog { display: block; margin-top: 15px; } }

@media only screen and (max-width: 1180px) { /* single item */
  .single__item__filter, .single__item__info { float: none; width: 100%; }
  .single__item__info { margin-top: 45px; }
  .single_size_head .single_catalogue__know_size { float: none; margin-left: 15px; }
  .single__item__tabs .tab_head span { font-size: 18px; } }

@media only screen and (max-width: 1140px) { .wrapper_large { padding-left: 10px; padding-right: 10px; }
  .category_nav__list li { margin: 5px 10px; }
  .header__action_w.fixed { padding-right: 10px; }
  .header__logo img { width: 210px; height: auto; top: 30px; position: relative; } }

@media only screen and (max-width: 1000px) { header { display: none; }
  .category_nav { display: none; }
  .mobile_top_bar { display: table; }
  body { padding-top: 50px; }
  html, body { width: 100%; height: 100%; overflow-x: hidden; }
  .main_wrap { overflow-y: auto; }
  /* benefit__item */
  .benefit__item { vertical-align: top; }
  .benefit__item span { display: block; text-align: center; max-width: initial; margin-top: 5px; }
  /* catalogue__content */
  .catalogue__content .grid__coll { width: 100%; }
  .section_title { font-size: 30px; }
  /* single item */
  .single__item__left { width: 400px; }
  .single__item__gallery_big { width: 100%; }
  .single__item__gallery_wrap { height: auto; }
  .single__item__right { margin-left: 420px; }
  .single__item__gallery_small { display: none; }
  .single__item__option__item p { font-size: 16px; }
  .single__item__tabs .tab_head { background: #EFEFEF; }
  .single__item__tabs .tab_head span { display: inline-block; padding-left: 15px; padding-right: 15px; border: none !important; }
  .single__item__tabs .tab_head span.active { background: #fff; }
  .single__item__tabs { border: 1px solid #EFEFEF; }
  .single__item__tabs .tab_body { padding: 10px; }
  .single_item_title_holder { font-size: 20px; }
  /* cart */
  .cart__table { display: block; }
  .cart__table thead { display: none; }
  .cart__table tr { width: 33.3%; float: left; }
  .cart__table td { display: block; padding: 10px 15px !important; }
  /* reviews */
  .reviews__wrap { display: block; }
  .reviews__wrap__left, .reviews__wrap__right { display: block; width: 100%; float: none; }
  .reviews__wrap__left { padding-right: 0; }
  .reviews__wrap__right { margin-top: 100px; } }

@media only screen and (min-width: 1000px) { .category_nav.fixed { position: fixed !important; top: 60px; border-top: none !important; margin-top: 0; background: rgba(255, 255, 255, 0.95); border-bottom: 2px solid #E4E4E4 !important; }
  .category_nav.fixed li { font-size: 16px; }
  .category_nav.fixed li a { padding: 0; }
  .category_nav.fixed li a:hover:after { top: 100%; }
  .category_nav.fixed .category_nav__list { text-align: right; }
  .category_nav.fixed .wrapper_large { padding-top: 5px; padding-bottom: 10px; } }

@media only screen and (max-width: 800px) { /* item_goods_holder */
  .item_goods_holder .item_goods { margin: 0; border: 1px solid #DDDDDD !important; }
  .item_goods_holder .item_goods__action { display: block; position: relative; border: none; padding-bottom: 10px; }
  .slider_tov { margin: 0 10px; }
  .slider_tov__item { padding-bottom: 0; }
  .catalogue__left_side { float: none; width: 100%; }
  .catalogue__content { margin-left: 0; padding-bottom: 0; }
  .catalogue__content .grid__coll { width: 50%; }
  /* single item */
  .single__item .wrapper_large { max-width: 500px; }
  .single__item__left { width: 100%; float: none; max-width: 500px; }
  .single__item__right { width: 100%; float: none; margin-left: 0; margin-top: 50px; }
  /* cart */
  .cart__footer__total { float: none; }
  .cart__footer__action { float: none; margin-top: 40px; }
  .cart__table tr { width: 50%; float: left; border: 1px solid #d8d8d8; }
  /* reviews */
  .reviews_item__text { font-size: 18px; }
  .reviews_item__info .name { font-size: 22px; } }

@media only screen and (max-width: 700px) { .order_page__wrap .form_row { padding: 0 0px; }
  .order_page__wrap .form_row__name { display: block; float: none; margin-bottom: 10px; }
  .order_page__wrap .form_row__input_holder { margin-left: 0; }
  .order_page__wrap .order_form__footer { padding: 20px 0px; }
  .order_page__wrap .order_form__footer .order_form__footer__left { float: none; }
  .order_page__wrap .order_form__footer .order_form__footer__right { float: none; margin-top: 10px; }
  .order_page__wrap .order_form__submit { display: block; margin-bottom: 15px; } }

@media only screen and (max-width: 650px) { /* catalogue__content */
  .catalogue__content { margin-left: 0; }
  .catalogue__content .grid__coll { width: 100%; } }

@media only screen and (max-width: 600px) { /* .home_slider__item */
  .home_slider__item { height: auto; }
  .home_slider__item__text { padding: 20px 15px; }
  .home_slider__item__text .title { font-size: 24px; }
  .home_slider__item__text p { font-size: 18px; }
  /* reviews */
  .reviews_item__info { float: none; width: 100%; }
  .reviews_item__text { margin-left: 0; padding-left: 0; margin-top: 20px; }
  .reviews__wrap__right .title { font-size: 22px; padding: 15px 0; text-align: center; }
  .reviews_slider__footer .count { float: none; }
  .reviews_slider__nav { float: none; margin-top: 15px; }
  .reviews_slider__nav span { margin-left: 0; margin-right: 10px; } }

@media only screen and (max-width: 500px) { /* benefit__item */
  .benefit__item { display: block; margin-top: 25px; }
  /* cart */
  .cart__table tr { width: 100%; }
  .cart__footer__total .name { display: block; margin-right: 0; } }

@media only screen and (max-width: 400px) { /* single item */
  .single__item__option__item { display: block; margin-top: 20px; }
  .single_size_head .filter_title { float: none; }
  .single_size_head .single_catalogue__know_size { display: block; margin-bottom: 15px; margin-left: 0; }
  .order_page__wrap .form_row { padding: 0 0px; }
  .order_page__wrap .form_row__name { display: block; float: none; margin-bottom: 10px; }
  .order_page__wrap .form_row__input_holder { margin-left: 0; }
  .order_page__wrap .order_form__footer { padding: 20px 0px; }
  .order_page__wrap .order_form__footer .order_form__footer__left { float: none; }
  .order_page__wrap .order_form__footer .order_form__footer__right { float: none; margin-top: 10px; }
  .order_page__wrap .order_form__footer .title { display: block; } }

/*# sourceMappingURL=style.css.map */
