/***** MEDIA *****/

@media only screen and (max-width: 1400px)
  
  /* catalogue__content
  .catalogue__content
    .grid__coll
      width: 50%

      
  /* single item */
  .single__item__left
    width: 500px
  .single__item__gallery_big
    width: 360px
  .single__item__gallery_wrap
    height: 470px
  .single__item__right
    margin-left: 520px
  .single__item__filter
    width: 280px
  .single__item__tabs .tab_head span
    font-size: 22px
    
    
  /* reviews
  .reviews__wrap__right
    min-width: 300px
  .reviews_item slick-slide
    padding: 20px
  .reviews_item__text
    padding-left: 25px
  
  
  
  
@media only screen and (max-width: 1240px)
  
  /* cart */
  .cart__go_order
    display: block
  .cart__go_catalog
    display: block
    margin-top: 15px
  
  
  
  
  
@media only screen and (max-width: 1180px)
  
  /* single item */
  .single__item__filter,
  .single__item__info
    float: none
    width: 100%
  .single__item__info
    margin-top: 45px
  .single_size_head .single_catalogue__know_size
    float: none
    margin-left: 15px
  .single__item__tabs .tab_head span
    font-size: 18px
  
  
  
  
  
  
@media only screen and (max-width: 1140px)
  
  
  .wrapper_large
    padding-left: 10px
    padding-right: 10px
    
  .category_nav__list li
    margin: 5px 10px
    
  .header__action_w.fixed
    padding-right: 10px
  
  .header__logo img
    width: 210px;
    height: auto;
    top: 30px;
    position: relative;
  
  
    
    
@media only screen and ( max-width: 1000px )
  
  header
    display: none
  .category_nav
    display: none
  .mobile_top_bar
    display: table
    
  body
    padding-top: 50px
    
    
  html, body
    width: 100%;
    height: 100%;
    overflow-x: hidden
  .main_wrap
    overflow-y: auto
    
  /* benefit__item */
  .benefit__item
    vertical-align: top
    span
      display: block
      text-align: center
      max-width: initial
      margin-top: 5px
      
  /* catalogue__content
  .catalogue__content
    .grid__coll
      width: 100%
      
  .section_title
    font-size: 30px
      
      
  /* single item */
  .single__item__left
    width: 400px
  .single__item__gallery_big
    width: 100%
  .single__item__gallery_wrap
    height: auto
  .single__item__right
    margin-left: 420px
  .single__item__gallery_small
    display: none
  .single__item__option
  .single__item__option__item
    p
      font-size: 16px
  .single__item__tabs .tab_head 
    background: #EFEFEF
    span
      display: inline-block
      padding-left: 15px
      padding-right: 15px
      border: none!important
  .single__item__tabs .tab_head span.active
    background: #fff
  .single__item__tabs
    border: 1px solid #EFEFEF
    .tab_body
      padding: 10px
  .single_item_title_holder
    font-size: 20px
    
    
  /* cart */
  .cart__table
    display: block
    thead
      display: none
    tr
      width: 33.3%
      float: left
    td
      display: block
      padding: 10px 15px!important
  
  /* reviews
  .reviews__wrap
    display: block
  .reviews__wrap__left,
  .reviews__wrap__right
    display: block
    width: 100%
    float: none
  .reviews__wrap__left
    padding-right: 0
  .reviews__wrap__right
    margin-top: 100px
  
  
@media only screen and ( min-width: 1000px )
  
  .category_nav.fixed
    position: fixed!important
    top: 60px
    border-top: none!important
    margin-top: 0
    background: rgba(255, 255, 255, 0.95)
    border-bottom: 2px solid #E4E4E4!important
    li
      font-size: 16px
      a
        padding: 0
      a:hover:after
        top: 100%;
    .category_nav__list
      text-align: right
    .wrapper_large
      padding-top: 5px
      padding-bottom: 10px
  
  
  
@media only screen and (max-width: 800px)
  
  /* item_goods_holder
  .item_goods_holder
    .item_goods
      margin: 0
      border: 1px solid #DDDDDD!important
    .item_goods__action
      display: block
      position: relative
      border: none
      padding-bottom: 10px
    
  .slider_tov
    margin: 0 10px
  .slider_tov__item
    padding-bottom: 0
    
  .catalogue__left_side
    float: none
    width: 100%
  .catalogue__content
    margin-left: 0
    padding-bottom: 0
    .grid__coll
      width: 50%
      
  /* single item */
  .single__item
    .wrapper_large
      max-width: 500px
  .single__item__left
    width: 100%
    float: none
    max-width: 500px
  .single__item__right
    width: 100%
    float: none
    margin-left: 0
    margin-top: 50px
    
    
  /* cart */
  .cart__footer__total
    float: none
  .cart__footer__action
    float: none
    margin-top: 40px
  .cart__table
    tr
      width: 50%
      float: left
      border: 1px solid #d8d8d8
      
  
  /* reviews
  .reviews_item__text
    font-size: 18px
  .reviews_item__info .name
    font-size: 22px
      
      
      
      
      
@media only screen and ( max-width: 700px )
  
  // order_page__wrap 
  .order_page__wrap 
    .form_row
      padding: 0 0px
    .form_row__name
      display: block
      float: none
      margin-bottom: 10px
    .form_row__input_holder
      margin-left: 0
    .order_form__footer
      padding: 20px 0px
      .order_form__footer__left
        float: none
      .order_form__footer__right
        float: none
        margin-top: 10px
    .order_form__submit
      display: block
      margin-bottom: 15px
  
  
  
@media only screen and ( max-width: 650px )
  
  /* catalogue__content
  .catalogue__content
    margin-left: 0
    .grid__coll
      width: 100%
  
  
  
@media only screen and ( max-width: 600px )
  
  /* .home_slider__item
  .home_slider__item
    height: auto
  .home_slider__item__text
    padding: 20px 15px
    .title
      font-size: 24px
    p
      font-size: 18px
      
      
  /* reviews
  .reviews_item__info
    float: none
    width: 100%
  .reviews_item__text
    margin-left: 0
    padding-left: 0
    margin-top: 20px
  .reviews__wrap__right .title
    font-size: 22px
    padding: 15px 0
    text-align: center
  .reviews_slider__footer .count
    float: none
  .reviews_slider__nav
    float: none
    margin-top: 15px
    span
      margin-left: 0
      margin-right: 10px
      
  
  
@media only screen and ( max-width: 500px )
  
  /* benefit__item */
  .benefit__item
    display: block
    margin-top: 25px
    
    
  /* cart */
  .cart__table
    tr
      width: 100%
  .cart__footer__total .name
    display: block
    margin-right: 0
    
@media only screen and ( max-width: 400px )
    
  /* single item */
  .single__item__option__item
    display: block
    margin-top: 20px
  .single_size_head .filter_title
    float: none
  .single_size_head .single_catalogue__know_size
    display: block
    margin-bottom: 15px
    margin-left: 0
    
  
  // order_page__wrap 
  .order_page__wrap 
    .form_row
      padding: 0 0px
    .form_row__name
      display: block
      float: none
      margin-bottom: 10px
    .form_row__input_holder
      margin-left: 0
    .order_form__footer
      padding: 20px 0px
      .order_form__footer__left
        float: none
      .order_form__footer__right
        float: none
        margin-top: 10px
      .title
        display: block
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    