@import "mixin"
@import "reset"
@import "fonts"

/* GENERAL */
body
  font-family: "LatoRegular"
  
*
  +box-sizing(border-box)
  outline: none

header, section, footer
  position: relative
  width: 100%
  
.wrapper
  position: relative
  max-width: 1140px
  padding: 0 10px
  margin: 0 auto
  
.wrapper_large
  position: relative
  max-width: 100%
  padding: 0 55px
  margin: 0 auto
  
input[type="text"]::-webkit-input-placeholder,
input[type="text"]::-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="text"]:-ms-input-placeholder 
   color: #5c6770;
   
input[type="submit"], select
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  
/* for number input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; 
input[type="number"]
  -moz-appearance: textfield;
input[type="number"]:hover,
input[type="number"]:focus
  -moz-appearance: number-input;
  
span.strong
  font-weight: bold;
  
/* no scroll & gotop */
html.no-scrollt,
body.no-scrollt
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden; 
  
/* no scroll */
html.no-scroll,
body.no-scroll
  width: 100%;
  max-width: 100%;
  overflow: hidden;

/* COMMON */ 

// for lightbox link
a[data-lightbox]
  position: absolute
  background-color: rgba(0, 0, 0, 0.4)
  width: 100%
  z-index: 100
  height: 100%
  top: 0
  left: 0
  //background-image: url("../img/zoom.png")
  background-position: center
  background-repeat: no-repeat
  opacity: 0
  -webkit-transition: .3s
  -o-transition: .3s
  transition: .3s
  &:hover
    opacity: 1
    text-decoration: none
  &:before
    content: "+"
    position: absolute
    top: 50%
    box-sizing: border-box
    left: 50%
    margin-left: -40px
    margin-top: -40px
    width: 80px
    height: 80px
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    -ms-border-radius: 50%
    -o-border-radius: 50%
    border-radius: 50%
    color: rgba(255, 255, 255, 0.49)
    border: 4px solid rgba(255, 255, 255, 0.52)
    text-align: center
    font-size: 55px;
    line-height: 66px;

@media only screen and (max-width: 800px)
  a[data-lightbox]
    display: none
	
	
/* GRID */
.grid_wrap
.grid_coll
  
  

/* form
.form_row
  margin-bottom: 20px
  +clearfix
.form_row__name
  float: left
  color: #000
  font-size: 26px
  margin-top: 14px
.form_row__input_holder
  margin-left: 240px
		
		
/* FORM */
.input_text
  width: 100%
  border: 1px solid #535353
  //+border-radius(5px)
  padding: 5px 10px
  font-size: 18px
  height: 60px
  color: #2F2F31
  +transition(.3s)
  &:focus
    border: 1px solid #000
.textarea_form
  width: 100%
  border: 1px solid #535353
  //+border-radius(5px)
  padding: 10px
  font-size: 18px
  resize: none
  color: #2F2F31
  +transition(.3s)
  height: 100px
  &:focus
    border: 1px solid #000
.input_file
  display: inline-block
  position: relative
  padding-left: 30px
  cursor: pointer
  user-select: none
  background: url("../img/decor_9.png") left center no-repeat
  user-select: none
  input
    display: none
  span
    font-size: 18px
    color: #2E8CC7
    border-bottom: 2px dotted #2E8CC7 
    
.form_select_wrap
  position: relative
  width: 100%
  height: 60px
  border: 1px solid #818181;
  background: #fff
  select
    width: 100%
    height: 100%
    border: none
    background: none
    font-size: 18px!important
    padding: 0 10px
    cursor: pointer
    font-family: "LatoRegular"!important
    color: #444;
    option
      border: 1px solid red!important
.form_select_wrap:after
  content: ""
  position: absolute
  top: 0
  right: 10px
  height: 100%
  z-index: 10
  display: block
  width: 20px
  pointer-events: none;
  background: #fff url("../img/arrow_2.png") center no-repeat


  
  
  
/* HEADER */
header
  position: relative
  z-index: 120
  background: #fff
  .wrapper_large
    padding-top: 10px
    padding-bottom: 10px
    +clearfix
.header__logo
  float: left
.header__right
  float: right
  text-align: right
/* header__action_w
.header__action_w
  margin-top: 20px
    
    
.header__action_w.fixed
  position: fixed
  top: 0
  width: 100%
  right: 0
  background: rgba(255, 255, 255, 0.95)
  margin-top: 0
  padding-right: 55px
  padding-top: 5px
  padding-bottom: 5px
  .header__action_num
    font-size: 18px
  
  
/* header__nav_w
.header__nav_w
  margin-top: 20px
.header__nav
  ul
    li
      display: inline-block
    li:not(:first-child)
      margin-left: 20px
    a
      color: #000
      font-size: 16px
      text-transform: uppercase
      font-family: "LatoMedium"
      +transition(.3s)
    a:hover
      color: #650631
.header__action_num
  color: #666
  font-size: 24px
  font-family: "LatoBold"
  vertical-align: middle
.header__action_num:not(:first-child)
  margin-left: 20px

/* header__action__search_w
.header__action__search_w
  display: inline-block
  vertical-align: middle
  margin-left: 25px
.header__action__search_box
  position: relative
  width: 50px
  overflow: hidden
  +transition(.3s)
.header__action__search_box.active
  width: 250px
.header__action__search_input
  position: absolute
  top: 0
  right: 0
  height: 50px
  font-size: 16px
  padding: 0 70px 0 10px
  color: #666
  width: 100%
  border: 1px solid #EFEFEF
  background: #EEF0F5
.header__action__search_btn
  position: relative
  display: block
  float: right
  width: 50px
  height: 50px
  background: #EFEFEF
  z-index: 10
.header__action__search_btn span
  display: inline-block
  vertical-align: middle
  position: relative
  width: 20px
  height: 20px
  +transform( rotate(-45deg) )
  +transition(.3s)
.header__action__search_btn span:after,
.header__action__search_btn span:before
  position: absolute
  content: ""
  +transition(.3s)
.header__action__search_btn span:after
  width: 5px;
  height: 11px;
  left: 9px;
  top: 18px;
  border-radius: 2px;
  background: #676767;
.header__action__search_btn span:before
  width: 14px;
  height: 14px;
  left: 0px;
  top: 0px;
  border-radius: 16px;
  border: 4px solid #676767;
.header__action__search_btn:hover
  background: #e4e4e4
  span
    +transform( rotate(-60deg) )
  
  
/* header__action__cart_w
.header__action__cart_w
  display: inline-block
  vertical-align: middle
  margin-left: 20px
.header__action__cart
  position: relative
  width: 50px
  height: 50px
  background: #EFEFEF
  +transition(.3s)
  .cart_count
    position: absolute;
    top: 0px;
    width: 20px;
    text-align: center;
    display: block;
    left: 15px;
    font-size: 13px;
    +border-radius(50%)
    background-clip: padding-box;
    height: 20px;
    color: #676767
    z-index: 1;
.header__action__cart_btn
  position: relative
  z-index: 5
  display: block
  width: 100%
  height: 100% 
  background: url("../img/shopping-cart.svg") center no-repeat
  background-size: 1em;
  font-size: 26px
  cursor: pointer
.header__action__cart:hover
  background: #E4E4E4
  
  
  
  
/* mobile_top_bar
.mobile_top_bar
  position: fixed
  z-index: 230
  left: 0
  top: 0
  right: 0
  +box-shadow( 0px 1px 3px grey )
  display: table
  width: 100%
  background: #ffffff
  table-layout: fixed
  display: none
  +transition(.3s)
.mobile_top_bar__item
  display: table-cell
  vertical-align: middle
  color: #fff
  text-align: center
  +transition(.3s)
  .header__action__cart
    margin: 0 auto
    background: none
.mobile_top_bar__item:hover
  background: #ededed
  
  
.mobile_top_bar__item:not(:last-child)
  border-right: 1px solid rgba(103, 103, 103, 0.47);
  
.mobile_top_bar__search_btn
  position: relative
  display: block
  margin: 0 auto
  width: 50px
  height: 50px
  z-index: 10
.mobile_top_bar__search_btn span
  display: inline-block
  margin-top: 13px
  position: relative
  cursor: pointer
  width: 20px
  height: 20px
  +transform( rotate(-45deg) )
  +transition(.3s)
.mobile_top_bar__search_btn span:after,
.mobile_top_bar__search_btn span:before
  position: absolute
  content: ""
  +transition(.3s)
.mobile_top_bar__search_btn span:after
  width: 5px;
  height: 11px;
  left: 9px;
  top: 18px;
  border-radius: 2px;
  background: #676767;
.mobile_top_bar__search_btn span:before
  width: 14px;
  height: 14px;
  left: 0px;
  top: 0px;
  border-radius: 16px;
  border: 4px solid #676767;
.mobile_top_bar__search_btn:hover
  span
    +transform( rotate(-60deg) )
  
  
.mobile_top_bar__nav_btn
  height: 50px
  padding: 5px
  margin: 0 auto
  cursor: pointer
  overflow: hidden
  user-select: none
  text-align: center
  span
    display: block
    width: 100%
    width: 40px
    height: 5px
    background: #676767
    margin: 6px auto 0
    +border-radius(5px)
  
.mobile_top_bar__search_wrap
  width: 100%
  height: 50px
  left: 0
  position: absolute
  display: none
  .header__action__search_box
    width: 100%
    
    
  

  
/* category_nav */
body.home
  .category_nav
    position: absolute
    border-top: 2px solid #fff
    border-bottom: 2px solid #fff
.category_nav
  margin-top: 35px
  border-top: 2px solid #EBEBEB
  border-bottom: 2px solid #EBEBEB
  background: rgba(255, 255, 255, .5)
  z-index: 100
  .wrapper_large
      
      

/* mobile_nav_wrap
.mobile_nav_wrap
  position: fixed
  top: 0
  left: 0
  width: 280px
  height: 100%
  overflow: hidden
  background: #ebebeb
  z-index: 210
  overflow-y: auto
  padding: 20px 10px
  opacity: 0
  pointer-events: none
  +transition(.3s )
  .header__logo 
    margin-bottom: 15px
    img
      width: 100%
      height: auto
      top: 0
      
  
/* mobile_nav
.mobile_nav
  padding-bottom: 50px
  
  
.main_wrap
  position: relative
  background: #fff
  z-index: 220
  width: 100%;
  height: 100%;
  +transition(.3s )
  -webkit-backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  //will-change: translate3d;
  

/* open_nav */
.main_wrap.open_nav
  +transform( translate3d(280px, 0, 0) )
  +box-shadow( -2px 1px 2px 1px rgba(103, 103, 103, 0.18) )
.mobile_top_bar.open_nav 
  +transform( translate3d(280px, 0, 0) )
.mobile_nav_wrap.open_nav
  opacity: 1
  pointer-events: all;
    
  
      
    
/* breadcrumbs
.breadcrumbs
  .wrapper_large
    padding-top: 20px
    padding-bottom: 20px
.breadcrumbs__wrap
  a
    color: #000
  span
    color: #000
    
    
/* cat_title
.cat_title
  .wrapper_large
    padding-top: 40px
    padding-bottom: 30px
    h1
      font-size: 40px
      text-align: center
      font-weight: normal
      line-height: 1
      
      
      
/* catalogue
.catalogue
  .wrapper_large
    padding-top: 30px
.catalogue__wrap
  +clearfix
  overflow: hidden
/* catalogue__left_side
.catalogue__left_side
  width: 350px
  float: left
.catalogue__left_side__title
  display: block
  border-top: 1px solid #535353
  border-bottom: 1px solid #535353
  color: #000
  padding: 15px 0
  line-height: 1
  font-size: 30px
  margin-bottom: 30px
  
.catalogue__left_side__row
  
.catalogue__left_side__cat_title
  display: inline-block
  cursor: pointer
  color: #535353
  font-size: 20px
  text-transform: uppercase
  font-family: "LatoBold"
  margin-bottom: 10px
  line-height: 1
  &:after
    content: ""
    display: inline-block
    margin-left: 10px
    width: 10px
    height: 10px
    background: url("../img/arrow_2.png")
.catalogue__left_side__cat_wrap
  margin-bottom: 50px
  ul
    margin-bottom: 20px
    li
      margin-bottom: 5px
      +transition( .3s)
    li.active
      padding-left: 10px
      font-family: "LatoBold"
      a
        color: #650631
    li:hover
      margin-left: 5px
    a
      color: #000
      font-size: 20px
      font-weight: normal
    a:hover
      color: #650631
      font-family: "LatoBold"
  
  
/* filter_wrap
.filter_wrap
  margin-bottom: 40px
.filter_title
  display: block
  color: #535353
  font-size: 20px
  text-transform: uppercase
  font-family: "LatoBold"
  margin-bottom: 15px
  
/* filter_size__wrap
.filter_size__wrap
  +clearfix
  input
    display: none
  label
    float: left
    margin-right: 3px
    margin-bottom: 3px
    span
      display: block
      width: 65px
      height: 65px
      font-size: 18px
      background: #EFEFEF
      text-align: center
      line-height: 65px
      cursor: pointer
      user-select: none
      color: #000
      border: 1px solid transparent
      +transition(.3s)
  input:checked + span
    background: #650631
    color: #fff
  span:hover
    border: 1px solid #650631
    
.catalogue__know_size
  display: inline-block
  font-size: 14px
  color: #C90
  cursor: pointer
  text-transform: uppercase
  text-decoration: underline
  margin-top: 10px
  &:hover
    text-decoration: none
  
  
.single_size_head
  .filter_title
    float: left
  .single_catalogue__know_size
    display: inline-block
    font-size: 14px
    color: #C90
    float: right
    cursor: pointer
    text-transform: uppercase
    text-decoration: underline
    margin-top: 5px
    margin-right: 10px
    &:hover
      text-decoration: none
  +clearfix
  
  
  
.filter_color__wrap
  +clearfix
  input
    display: none
  label
    float: left
    margin-right: 3px
    margin-bottom: 3px
    span
      display: block
      position: relative
      width: 65px
      height: 65px
      font-size: 20px
      text-align: center
      line-height: 65px
      cursor: pointer
      user-select: none
    span:after
      content: ""
      position: absolute
      width: 100%
      height: 100%
      box-sizing: border-box
      top: 0px
      left: 0px
      border: 1px solid transparent
      background: rgba(101, 6, 49, 0.45) url("../img/check.png") center no-repeat
      opacity: 0
      +transition(.3s)
  input:checked + span:after
    border: 1px solid #650631
    opacity: 1
  span:hover:after
    opacity: 1
    
  
.filter_length__wrap
  +clearfix
  input
    display: none
  label
    float: left
    width: 112px
    margin-right: 3px
    margin-bottom: 3px
    span
      display: block
      position: relative
      height: 64px
      line-height: 64px
      font-size: 20px
      text-align: center
      cursor: pointer
      user-select: none
      +transition(.3s)
      background: #EFEFEF
      border: 1px solid transparent
      color: #000
  input:checked + span
    background: #650631
    color: #fff
  span:hover
    border: 1px solid #650631
    
  
/* catalogue__content
.catalogue__content
  margin-left: 360px
  overflow: hidden
  .grid__wrap
    overflow: hidden
    padding-bottom: 90px
  .grid__coll
    width: 33.3%
    margin-bottom: 15px
    text-align: center
  .seo_text
    margin-bottom: 50px
    
  
  
/* GRID
.grid__wrap
  margin: 0 -15px
  +clearfix
.grid__coll
  float: left
  padding: 0 15px
  
  
  
  
/* .single__item
.single__item
  .wrapper_large
    padding-top: 50px
    padding-bottom: 50px
    +clearfix
    
/* single__item__left
.single__item__left
  width: 620px
  float: left
  
  
/* single__item__gallery_wrap
.single__item__gallery_wrap
  height: 635px
  overflow: hidden
.single__item__gallery_big
  width: 480px
  height: 100%
  float: left
  img
    display: block
    width: 100%
    height: auto
.single__item__gallery_small
  position: relative
  float: right
  width: 120px
  height: 100%
  overflow: hidden
.single__item__gallery_small__wrap
  margin-top: -10px
.single__item__gallery_small__item
  margin-top: 10px
  img
    display: block
    width: 100%
    height: auto
    
    
.single__item__gallery_small__left,
.single__item__gallery_small__right
  width: 100%
  height: 34px
  background-color: rgba(0, 0, 0, 0.3)
  position: absolute
  cursor: pointer
  user-select: none
  background-position: center
  background-repeat: no-repeat
.single__item__gallery_small__left
  top: 0
  background-image: url("../img/arrow_3.png")
  +transform( rotate(180deg) )
.single__item__gallery_small__right
  bottom: 0
  background-image: url("../img/arrow_3.png")
  
  
  
  
/* single__item__option
.single__item__option
  padding: 20px
  margin-top: 20px
  background: #EBEBEB
  display: table
  width: 100%
  table-layout: fixed
.single__item__option__item
  display: table-cell
  text-align: center
  padding: 0 10px
  img
    margin-bottom: 5px
  p
    font-size: 20px
  
  
  
/* single__item__right
.single__item__right
  margin-left: 650px
  max-width: 850px
.single_item_title_holder
  font-size: 30px
  font-weight: normal
  color: #000
  border-top: 1px solid #535353
  border-bottom: 1px solid #535353
  padding: 15px 0
  h1
    font-weight: normal
    
/* single__item__right__action
.single__item__right__action
  margin-top: 40px
  +clearfix
  overflow: hidden
  
/* single__item__filter
.single__item__filter
  width: 350px
  float: left
  
/* single__item__info
.single__item__info
  float: right
.single__item__info__price
  span
    display: block
    line-height: 1
  .title
    color: #535353
    font-size: 20px
    font-family: "LatoBold";
    text-transform: uppercase
  .old
    color: #000
    font-size: 30px
    margin-top: 15px
    text-decoration: line-through;
  .cur
    font-size: 50px
    color: #B60C30
    font-family: "LatoBold";
    margin-top: 10px
.single__item__info__actions
  margin-top: 35px
  span
    display: block
    font-size: 18px; 
    font-family: "LatoBold";
    text-transform: uppercase;
    height: 60px;
    line-height: 60px;
    width: 250px
    cursor: pointer;
    text-align: center
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  .single_add_to_cart
    background-image: url(../img/mini_cart.png);
    background-position: 55px 22px;
    background-repeat: no-repeat;
    background-color: #650631;
    color: #fff;
    padding-left: 25px;
    margin-top: 5px;
    &:hover
      opacity: .8
  .single_bye_one_click
    margin-top: 15px
    background: #EFEFEF
    color: #000
    &:hover
      background: #E4E4E4;
  
  
  
/* filter_count__wrap
.count__item__wrap
  position: relative
  width: 110px
  height: 60px
.count__item__input
  display: block
  box-sizing: border-box
  width: 85px
  text-align: center
  height: 100%
  border: 1px solid #818181
  font-size: 20px
  float: left
.count__item__btns
  width: 20px
  height: 100%
  float: left
  border: 1px solid #818181
  border-left: none
  background-color: #fff
  span
    display: block
    width: 100%
    height: 50%
    text-align: center
    cursor: pointer
    user-select: none
    line-height: 1
    background-position: center
    background-repeat: no-repeat
    +transition( .3s )
  span.minus
    background-image: url("../img/arrow_2.png") 
  span.plus
    background-image: url("../img/arrow_2.png")
    +transform( rotate(180deg) )
  span:hover
    background-color: #dddddd
    
  
  
  
  
/* single__item__right__tabs_wrap
.single__item__right__tabs_wrap
  margin-top: 40px
.single__item__tabs
  .tab_head
    display: table
    width: 100%
    table-layout: fixed
    span
      display: table-cell
      text-align: center
      cursor: pointer
      font-size: 24px
      padding: 10px 5px
      border: 1px solid transparent
      +transition(.3s)
    span:not(.active)
      border-bottom: 1px solid #535353
    span.active:not(:first-of-type):not(:last-of-type)
      border-left: 1px solid #535353
      border-right: 1px solid #535353
    span.active:first-of-type
      border-right: 1px solid #535353
    span.active:last-of-type
      border-left: 1px solid #535353
    span.active
      border-top: 1px solid #535353
  .tab_body
    margin-top: 25px
    padding-bottom: 15px
  .tab_item
    display: none
    font-size: 18px
    line-height: 1.3
  .tab_item.active
    display: block
    
    
.category_nav__list
  text-align: center
  li
    display: inline-block
    vertical-align: middle
    font-size: 18px
    text-transform: uppercase
    margin: 5px 30px
  li:first-child
    margin-left: 0
  li:last-child
    margin-right: 0
  a
    position: relative
    color: #000
    font-family: "LatoBold"
    display: block
    padding: 15px 0
  a:after
    content: "";
    position: absolute;
    display: block;
    z-index: 100;
    width: 100%;
    opacity: 0;
    height: 2px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: #000;
    top: 60%;
  a:hover:after
    opacity: 1;
    top: 80%;
    
    
    
    
    
/* home_slider
.home_slider
  .wrapper_large
    padding: 0
.home_slider_w
  overflow: hidden
.home_slider__item
  height: calc(100vh - 130px)
  min-height: 750px
  background-size: cover
  background-position: center top
  background-repeat: no-repeat
  .wrapper
    height: 100%
    min-height: inherit
.home_slider__item__text
  display: inline-block
  background: rgba(255, 255, 255, 0.53)
  max-width: 550px
  padding: 50px
  margin-top: 220px
  .title
    display: block
    font-size: 40px
    font-family: "LatoBold"
    text-transform: uppercase
    margin-bottom: 15px
  p
    font-size: 22px
    line-height: 1.3
    
    
    
/* section_title
.section_title
  display: block
  text-align: center
  font-size: 40px
    
    
/* benefit
.benefit
  .wrapper
    padding-top: 40px
    padding-bottom: 40px
.benefit__wrap
  text-align: center
  display: table
  width: 100%
  table-layout: fixed
.benefit__item
  display: table-cell
  vertical-align: middle
  img
    display: inline-block
    vertical-align: middle
  span
    display: inline-block;
    margin-left: 10px;
    max-width: 230px;
    text-align: left;
    vertical-align: middle;
    font-size: 24px;
    
    
    
/* popular_tov
.popular_tov
  .wrapper_large
    padding: 0
    padding-top: 30px
    padding-bottom: 30px
.popular_tov__wrap
  margin-top: 40px
/* slider_tov
.slider_tov__wrap
  position: relative
  overflow: hidden
.slider_tov
  margin: 0 55px
.slider_tov__item
  margin: 0 15px
  text-align: center
  padding-bottom: 90px
.slider_tov__arrows
  position: absolute
  top: 50%
  margin-top: -28px
  display: block
  width: 80px
  height: 56px
  background-color: rgba(0, 0, 0, 0.5)
  z-index: 10
  cursor: pointer
  user-select: none
  background-position: center
  background-repeat: no-repeat
  +transition(.3s)
  &.prev
    left: -80px
    background-image: url('../img/arrow.png')
    +transform( rotate(180deg) )
  &.next
    right: -80px
    background-image: url('../img/arrow.png')
.slider_tov__wrap:hover
  .slider_tov__arrows
    &.prev
      left: 0
    &.next
      right: 0
.slider_tov__arrows:hover
  background-color: rgba(0, 0, 0, 0.7)
    
    
  
    
    
/* item_goods_holder
.item_goods_holder
  padding-top: 10px
  max-width: 340px
  display: inline-block
.item_goods_holder:hover
  .item_goods
    border: 1px solid #DDDDDD
    border-bottom: 1px solid transparent
  .item_goods__action
    display: block
    
.item_goods
  position: relative
  margin: -10px
  padding: 10px
  border: 1px solid transparent
  
/*item_goods__head
.item_goods__head
  position: relative
.item_goods__img
  img
    display: block
    max-width: 100%
    height: auto
.item_goods__size_w
  position: absolute
  bottom: 0
  right: 5px
.item_goods__size_list
  li
    display: block
    height: 30px
    padding: 0 8px
    background: #fff
    +border-radius(20px)
    line-height: 30px
    text-align: center
    font-size: 14px
    margin-bottom: 5px
.item_goods__status
  position: absolute
  top: 30px
  left: 0
  span
    display: block
    width: 80px
    height: 40px
    background: #000
    color: #fff
    font-size: 14px
    text-transform: uppercase
    text-align: left
    line-height: 40px
    padding-left: 10px
    margin-bottom: 5px
  .top
    background: #000000
  .new
    background: #CC9900
  .sale
    background: #B60C30
    
    
  
  
  
/*item_goods__info
.item_goods__info
  padding: 10px 15px
  span.name
    display: block
    font-size: 18px
    color: #000
.info_price
  margin-top: 10px
  line-height: 1
  .old
    color: #000
    font-size: 25px
    margin-right: 5px
    text-decoration: line-through;
  .cur
    font-family: "LatoBlack"
    color: #000
    font-size: 30px
  .old + .cur
    color: #B60C30
/* item_goods__action
.item_goods__action
  position: absolute
  left: -1px
  right: -1px
  border: 1px solid #DDDDDD
  border-top: none
  display: none
  padding: 10px
  background: #fff
  padding-bottom: 20px
  z-index: 20
  .more_btn,
  .in_cart_btn
    font-size: 14px
    font-family: "LatoBold"
    text-transform: uppercase
    width: 130px
    height: 50px
    line-height: 50px 
    display: inline-block
    vertical-align: top
    cursor: pointer
    margin: 0 2px
    margin-top: 5px
    +transition(.3s)
  .more_btn
    background: #EFEFEF
    color: #000
  .in_cart_btn
    background-image: url("../img/mini_cart.png")
    background-position: 15px 16px
    background-repeat: no-repeat
    background-color: #650631
    color: #fff
    padding-left: 25px
    margin-top: 5px
  .more_btn:hover
    background: #E4E4E4
  .in_cart_btn:hover
    opacity: .8
    
  
      
/* recently_viewed
.recently_viewed
  .wrapper_large
    padding-top: 50px
    padding-bottom: 100px
.recently_viewed__wrap
  margin-top: 35px
  .item_goods_holder
    margin: 10px 15px
    vertical-align: top
    width: 200px
    text-align: center
    .item_goods__size_w
      display: none
    .item_goods__status
      display: none
    .item_goods__info span.name
      font-size: 16px
    .info_price .old
      font-size: 16px
    .info_price .cur
      font-size: 20px
      
      
      
/* cart
.cart
  .wrapper_large
    padding-top: 50px
    padding-bottom: 60px
  .cart__wrap
    margin-top: 70px
.cart__table 
  width: 100%
  border-collapse: collapse;
  overflow-x: scroll;
  border-bottom: 1px solid #585858
  thead
    tr
    td
      border-top: 1px solid #585858
      border-bottom: 1px solid #585858
      color: #000
      font-size: 28px
      padding: 10px 20px
  tbody
    tr:nth-of-type(2n+1)
      background: #F7F7F7
    td
      padding: 40px 20px
      min-width: 150px
      
.cart__table__img
  img
    width: 110px
    height: auto
.cart__table__name
  a
    color: #000
    font-size: 26px
    &:hover
      text-decoration: underline
.cart__table__price
  span
    font-size: 26px
    color: #000
.cart__table__summ
  span
    font-size: 26px
    color: #000
/*cart__footer
.cart__footer
  padding-top: 25px
  padding-bottom: 10px
  +clearfix
.cart__footer__action
  float: left
.cart__go_order,
.cart__go_catalog
  font-size: 18px
  text-transform: uppercase
  font-family: "LatoBold"
  display: block
  height: 60px
  width: 280px
  display: inline-block
  vertical-align: top
  text-align: center
  line-height: 60px
  cursor: pointer
  user-select: none
  +transition(.3s)
.cart__go_order
  background: #650631
  color: #fff
  margin-right: 30px
  &:hover
    opacity: .9
.cart__go_catalog
  background: #EFEFEF
  color: #000
  &:hover
    background: #d8d8d8
  

.cart__footer__total
  float: right
  margin-top: 15px
  margin-right: 40px
  span
    font-family: "LatoBold"
    font-size: 30px
  .name
    color: #535353
    text-transform: uppercase
    margin-right: 70px
  .cart_total
  .currency
  
.cart__clear__btn
  color: #000
  display: inline-block
  cursor: pointer
  font-family: "LatoBold"
  font-size: 20px
  text-align: left
  text-transform: uppercase
  text-decoration: underline
  margin-top: 20px
  &:hover
    text-decoration: none
  

    
/* size__item__wrap
.size__item__wrap
  position: relative
  width: 105px
  height: 60px
  border: 1px solid #818181;
  background: #fff
  select
    width: 100%
    height: 100%
    border: none
    background: none
    font-size: 20px
    padding: 0 10px
    cursor: pointer
.size__item__wrap:after
  content: ""
  position: absolute
  top: 0
  right: 0
  height: 100%
  z-index: 10
  border-left: 1px solid #818181;
  display: block
  width: 20px
  pointer-events: none;
  background: #fff url("../img/arrow_2.png") center no-repeat
    
    
    
/* order_page
.order_page
  .wrapper
    padding-top: 50px
    padding-bottom: 50px
.order_page__wrap
  max-width: 760px
  margin: 0 auto
  margin-top: 40px
  .form_row
    padding: 0 40px
.order_form__title
  font-size: 30px
  color: #000
  display: block
  padding: 15px 40px
  border-top: 1px solid #535353
  border-bottom: 1px solid #535353
  margin-bottom: 40px
  
  
.form_row__add_comment
  display: inline-block
  font-size: 20px
  margin-top: 10px
  text-transform: uppercase
  font-family: "LatoBold"
  border-bottom: 1px dotted #535353
  cursor: pointer
  user-select: none
  
.order_form__comment
  display: none
  
  
// order_form__case
.order_form__case
  display: none
#order_form__for__new_post 
  display: block
  
  
// order_form__footer
.order_form__footer
  +clearfix
  padding: 20px 40px
  border-top: 1px solid #535353;
  border-bottom: 1px solid #535353;
.order_form__footer__left
  float: left
  span
    font-family: "LatoBold"
    font-size: 30px
  .title
    text-transform: uppercase
    color: #5E5E5E
    margin-right: 15px
.order_form__footer__right
  float: right
  .pay
    font-size: 20px
    display: inline-block
    margin-top: 10px
    
    
.order_form__action
  margin-top: 40px
    

  
.order_form__submit,
.order_form__went_bye
  font-size: 18px
  text-transform: uppercase
  font-family: "LatoBold"
  display: block
  height: 70px
  width: 270px
  display: inline-block
  vertical-align: top
  text-align: center
  line-height: 70px
  cursor: pointer
  user-select: none
  +transition(.3s)
.order_form__submit
  background: #650631
  color: #fff
  margin-right: 30px
  &:hover
    opacity: .9
.order_form__went_bye
  background: #EFEFEF
  color: #000
  &:hover
    background: #d8d8d8
  
  
.terms_of_use
  display: inline-block
  margin-top: 30px
  max-width: 350px
  font-size: 20px
  color: #535353
  a
    color: #535353
    border-bottom: 1px solid #535353
  a:hover
    border-bottom: none
    
  
  
  
// select_sity__wrap
.select_sity__wrap
  .select2
    height: 100% !important
    width: 100% !important
    font-size: 18px !important
  .select2-selection--single
    height: 100% !important
    width: 100% !important
    border: none
  .select2-selection__rendered
    line-height: 60px !important
    font-family: "LatoRegular"!important
  .select2-selection__arrow
    display: none !important
  
      
      
/* seo_text
.seo_text
  .wrapper
    padding-top: 40px
    padding-bottom: 40px
  p
    margin-top: 20px
    font-size: 22px
.seo_text__btn
  display: none
  margin-top: 20px
  width: 64px
  height: 50px
  line-height: 26px
  background: #EBEBEB
  cursor: pointer
  user-select: none
  text-align: center
  color: #535353
  font-size: 40px
.seo_text__wrap
  margin-top: 30px
.seo_text__block
  overflow: hidden
  +transition(.3s)
.seo_text__block.hidden
  height: 210px
  & + .seo_text__btn
    display: block
.seo_text__block.open
  height: auto
  
      
      
  
/* reviews
.reviews
  .wrapper_large
    padding-top: 50px
    padding-bottom: 50px
.reviews__wrap
  margin-top: 60px
  +clearfix
  display: table
  width: 100%
// reviews__wrap__left
.reviews__wrap__left
  display: table-cell
  width: 100%
  padding-right: 70px
.reviews_slider__wrap
.reviews_slider
.reviews_item
  background: #EFEFEF
  padding: 40px
  +clearfix
  margin-bottom: 20px
  

// reviews__wrap__right
.reviews__wrap__right
  display: table-cell
  min-width: 450px
  .title
    display: block
    padding: 15px 40px 
    font-size: 30px
    border-top: 1px solid #535353
    border-bottom: 1px solid #535353
    
  
.reviews_item__info__rating__wrap
  .reviews_rating_block
    padding-bottom: 20px
    border-bottom: 1px solid #999999
  
  
.reviews_item__info
  width: 220px
  float: left
  .name
    display: block
    margin-top: 10px
    font-family: "LatoBold"
    font-size: 26px
  .date
    display: block
    color: #565656
    font-size: 20px
    margin-top: 5px
.reviews_item__text
  margin-left: 225px
  padding-left: 50px
  font-size: 22px
  
.reviews__form__wrap
  margin-top: 30px
  .form_row
    margin-bottom: 25px
  .form_row__name
    float: none
  .form_row__input_holder
    margin-top: 10px
    margin-left: 0
  .textarea_form
    height: 150px
  .form_row__name
    font-size: 22px
.reviews__form__submit
  font-size: 18px
  text-transform: uppercase
  font-family: "LatoBold"
  display: block
  height: 60px
  width: 200px
  vertical-align: top
  text-align: center
  line-height: 60px
  cursor: pointer
  user-select: none
  +transition(.3s)
  background: #650631
  color: #fff
  margin: 15px auto 0
  &:hover
    opacity: .9
  
  
.reviews_slider__footer
  margin-top: 15px
  +clearfix
  .count
    float: left
    font-size: 26px
    color: #999
    margin-top: 15px
.reviews_slider__nav
  float: right
  span
    display: inline-block
    width: 60px
    height: 60px
    border: 1px solid #535353
    margin-left: 10px
    cursor: pointer
    user-select: none
    +transition(.3s)
    background: url('../img/arrow_4.png') center no-repeat
  .next
    +transform( rotate(180deg) )
  
  
.reviews_rating_block 
  overflow: hidden
  display: inline-block;
  input
    display: none;
  label.star
    float: right;
    font-size: 26px;
    line-height: 1
    margin-right: 5px
    color: #999999;
    cursor: pointer
    transition: all .2s;
  input.star:checked ~ label.star:before
    content: '\f005';
    color: #FD4;
    transition: all .25s;
  input.star-1:checked ~ label.star:before
    color: #C92927;
  input.star-2:checked ~ label.star:before
    color: #D5461D;
  input.star-3:checked ~ label.star:before
    color: #DD5C14;
  input.star-4:checked ~ label.star:before
    color: #E97A09;
  input.star-5:checked ~ label.star:before 
    color: #F29000;
  label.star:hover
    //transform: rotate(-15deg) scale(1.3);
  label.star:before
    content: '\f005';
    font-family: FontAwesome;

      
    
    
.reviews_item__info__rating
  padding-bottom: 20px
  display: inline-block
  border-bottom: 1px solid #535353;
  span
    font-size: 26px;
    line-height: 1
    margin-right: 5px
    color: #999999;
    transition: all .2s;
  span:before
    content: '\f005';
    font-family: FontAwesome;
.reviews_item__info__rating_1
  span:nth-child(1):before
    color: #C92927;
.reviews_item__info__rating_2
  span:nth-child(1):before
    color: #C92927;
  span:nth-child(2):before
    color: #D5461D;
.reviews_item__info__rating_3
  span:nth-child(1):before
    color: #C92927;
  span:nth-child(2):before
    color: #D5461D;
  span:nth-child(3):before
    color: #DD5C14;
.reviews_item__info__rating_4
  span:nth-child(1):before
    color: #C92927;
  span:nth-child(2):before
    color: #D5461D;
  span:nth-child(3):before
    color: #DD5C14;
  span:nth-child(4):before
    color: #E97A09;
.reviews_item__info__rating_5
  span:nth-child(1):before
    color: #C92927;
  span:nth-child(2):before
    color: #D5461D;
  span:nth-child(3):before
    color: #DD5C14;
  span:nth-child(4):before
    color: #E97A09;
  span:nth-child(5):before
    color: #F29000;
    
    
    
    
      

/* FOOTER */
footer
  background: #EBEBEB
  .wrapper
    padding-top: 30px
    padding-bottom: 40px
.footer__nav_w
  text-align: center
.footer__nav
  li
    display: inline-block
    margin: 10px
  a
    font-size: 12px
    color: #383838
    text-transform: uppercase
    font-family: "LatoBold"
    &:hover
      text-decoration: underline
    
.footer__social_wrap
  text-align: center
  margin-top: 35px
.footer__social_list
  li
    display: inline-block
    margin: 0 10px
  a
    display: block
    width: 40px
    height: 40px
    background-color: #fff
    background-position: center
    background-repeat: no-repeat
    +border-radius(50%)
    +transition(.3s)
  a:hover
    box-shadow: 0 0 1px 5px rgba(101, 6, 49, 0.21), 0 0 1px 10px rgba(101, 6, 49, 0.07), 0 0 1px 15px rgba(101, 6, 49, 0.01);
    -webkit-box-shadow: 0 0 1px 5px rgba(101, 6, 49, 0.21), 0 0 1px 10px rgba(101, 6, 49, 0.07), 0 0 1px 15px rgba(101, 6, 49, 0.01);
  a.vk
    background-image: url("../img/social_vk.png")
  a.fb
    background-image: url("../img/social_fb.png")
    
/* footer__copy
.footer__copy
  margin-top: 30px
  span
    display: block
    text-align: center
    font-size: 16px
    color: #666
    
    
    
    
    
    
    
/* scroll style */
::-webkit-scrollbar-button
  background-repeat: no-repeat
  width: 6px; height: 0px;
::-webkit-scrollbar-track
  background-color: #FFF;
::-webkit-scrollbar-thumb
  -webkit-border-radius: 5px
  border-radius: 5px
  background-color: #A8A8A8
  background-position: center
  background-repeat: no-repeat;
::-webkit-resizer
  background-repeat: no-repeat;
  width: 7px;
  height: 0px;
::-webkit-scrollbar
  width: 6px;
    
    
/* modalOverlay */
.modalbtn
  cursor: pointer
.modalOverlay
  display: none
  position: fixed
  top: 0
  bottom: 0
  right: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.58)
  z-index: 1000
  
/* modalWindowWrap */
.modalWindowWrap
  display: none
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  width: 100%
  height: 100%
  text-align: center
  overflow-x: hidden
  overflow-y: auto
  z-index: 1100
.modalTable
  display: table
  height: 100%
  width: 100%
.modalCell
  display: table-cell
  vertical-align: middle
  padding: 50px 10px
.modalWindow
  position: relative
  color: #000
  background: #fff
  padding: 10px
  max-width: 600px
  margin: auto
  +rb
.modalWindowClose
  display: block
  position: absolute
  top: -40px
  right: 0
  width: 32px
  height: 32px
  cursor: pointer
  user-select: none
  +transition(.3s)
.modalWindowClose:hover
  +transform( rotate(90deg) )
.modalWindowClose:before, .modalWindowClose:after
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 4px;
  +border-radius(3px)
  background-color: #fff;
.modalWindowClose:before
  +transform( rotate(45deg) );
.modalWindowClose:after
  +transform( rotate(-45deg) );
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    
    
  
@import "media"
